openapi: 3.2.0
info:
  title: Foxglove Layouts API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Layouts
paths:
  /layouts:
    get:
      tags:
      - Layouts
      summary: List layouts
      description: 'List the org layouts.


        Note: Only layouts shared with the org are returned in the response; no personal layouts are

        returned.'
      security:
      - ApiKey:
        - layouts.list
      parameters:
      - in: query
        name: updatedSince
        description: Return only layouts updated since this time.
        schema:
          type: string
          format: date-time
      - in: query
        name: includeData
        description: 'When set to false, the `data` field is omitted from the response items.

          This can be used to limit bandwidth when querying many Layouts.

          '
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: List of org layouts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Layout'
      operationId: getLayouts
      x-operation-id-source: derived
    post:
      tags:
      - Layouts
      summary: Create a layout
      description: Creates a layout. API keys can only create shared layouts.
      security:
      - ApiKey:
        - layouts.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  maxLength: 36
                name:
                  type: string
                savedAt:
                  type: string
                  format: date-time
                folderName:
                  type: string
                  pattern: ^[^/]*$
                  description: 'The folder name used to organize layouts in the UI.

                    It cannot contain forward slashes.

                    '
                permission:
                  $ref: '#/components/schemas/LayoutPermission'
                data:
                  type: object
                  additionalProperties: true
                  description: 'The layout contents. This format is not yet stable and may change without

                    notice; treat it as opaque and round-trip values returned by the API.

                    '
              required:
              - data
              - name
              - permission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict with ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postLayouts
      x-operation-id-source: derived
  /layouts/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Layout ID
    get:
      tags:
      - Layouts
      summary: Get a layout
      security:
      - ApiKey:
        - layouts.list
      parameters:
      - in: query
        name: includeData
        description: Include data in response
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getLayoutsById
      x-operation-id-source: derived
    delete:
      tags:
      - Layouts
      summary: Delete a layout
      description: Soft-deletes a layout. API keys can only delete shared layouts.
      security:
      - ApiKey:
        - layouts.delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccess'
        '403':
          description: Caller is not permitted to delete this layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: deleteLayoutsById
      x-operation-id-source: derived
    patch:
      tags:
      - Layouts
      summary: Update a layout
      description: Updates an existing layout. API keys can only update shared layouts.
      security:
      - ApiKey:
        - layouts.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                folderName:
                  type: string
                  pattern: ^[^/]*$
                  description: 'The folder name used to organize layouts in the UI.

                    It cannot contain forward slashes. "" will unset the folderName.

                    '
                permission:
                  $ref: '#/components/schemas/LayoutPermission'
                data:
                  type: object
                  additionalProperties: true
                  description: 'The layout contents. This format is not yet stable and may change without

                    notice; treat it as opaque and round-trip values returned by the API.

                    '
              required: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Caller is not permitted to update this layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: patchLayoutsById
      x-operation-id-source: derived
  /layouts/{id}/restore:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Layout ID
    post:
      tags:
      - Layouts
      summary: Restore a layout
      description: Restores a soft-deleted layout. API keys can only restore shared layouts.
      security:
      - ApiKey:
        - layouts.delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccess'
        '403':
          description: Caller is not permitted to restore this layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postLayoutsByIdRestore
      x-operation-id-source: derived
components:
  schemas:
    LayoutPermission:
      type: string
      enum:
      - CREATOR_WRITE
      - ORG_READ
      - ORG_WRITE
    GenericSuccess:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required:
      - success
    Error:
      type: object
      properties:
        error:
          type: string
      required:
      - error
    Layout:
      type: object
      properties:
        id:
          type: string
          description: ID of the layout
        name:
          type: string
          description: Name of the layout
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the layout was created on the server
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the layout was last updated on the server
        savedAt:
          type: string
          format: date-time
          description: Timestamp when the layout was last saved locally
        folderName:
          type: string
          description: Name of the folder the layout belongs to.
        permission:
          $ref: '#/components/schemas/LayoutPermission'
        data:
          type: object
          description: 'An object containing the layout data.


            Note: The layout data format is not considered stable and may change over time.

            '
          additionalProperties: true
      required:
      - id
      - name
      - createdAt
      - updatedAt
      - permission
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
