openapi: 3.2.0
info:
  title: Foxglove Device Tokens API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library ([`foxglove-client`](https://github.com/foxglove/foxglove-python)) to more easily interact with the Foxglove API.


    The SDK can be downloaded from [PyPI](https://pypi.org/project/foxglove-client/) and source is available on

    [GitHub](https://github.com/foxglove/foxglove-python).


    # Authentication


    All routes excluding the [Site Bucket Notifications endpoint](#tag/Sites/paths/~1site-bucket-notifications/post) require an [API key](/docs/settings#api-keys) with specific capabilities. Only organization admins can create an API key.



    Requests must include the API key in the `Authorization` header as a bearer token:


    ```

    Authorization: Bearer fox_sk_1234...

    ```


    Each endpoint in the API reference lists the capabilities required for access. An endpoint with

    Authorizations `ApiKey (devices.list)` would require an api key with the `devices.list`

    capability.


    # Sorting and pagination


    Some GET endpoints support sorting and pagination.


    Where supported, you will see the following

    query parameters in the endpoint documentation:


    * `sortBy` – Field name to sort by (endpoint specific)

    * `sortOrder` – "asc" or "desc"

    * `limit` – Number of records in the response

    * `offset` – Number of records to skip


    If no limit is provided, endpoints will default to a limit of 2000 items. Requesting a limit

    greater than 2000 items will result in a 400 response.


    # Timestamps


    Unless otherwise documented, all timestamp related fields (start, end, created, etc) use the ISO8601 conforming [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) UTC "Zulu" format.


    In the documentation this will appear as `string` types with `<date-time>` formatting (i.e. `string <date-time>`).


    These timestamps support nanosecond resolution with up to nine fractional digits.


    Examples:

    - 2023-04-06T09:15:30Z

    - 2023-04-06T18:27:45.876543210Z


    > Note: Variants of RFC3339 using durations or offsets which are not conforming to ISO8601 are not supported.


    # Rate limits


    To help ensure responsiveness for all clients, requests to the API may be rate-limited. In this case, a request

    will receive a status code of 429. Your client may refer to headers, such as "Retry-After", to determine when a

    request should be retried.


    In general, if your client experiences an error, you should adjust the rate at which your client makes requests,

    and you may issue retries with a strategy such as exponential backoff.

    '
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Device Tokens
  description: 'Device tokens authenticate a device to the API.

    '
paths:
  /device-tokens:
    get:
      tags:
      - Device Tokens
      summary: List device tokens
      security:
      - ApiKey:
        - deviceTokens.list
      parameters:
      - in: query
        name: deviceId
        description: Filter by device ID
        schema:
          type: string
        required: false
      responses:
        '200':
          description: List of device tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceToken'
    post:
      tags:
      - Device Tokens
      summary: Create a device token
      security:
      - ApiKey:
        - deviceTokens.create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                  description: Device ID associated with the newly created token. If not given, the token will be "unassociated" with a device and will only be usable after using it to create a device.
                projectId:
                  type: string
                  description: Project ID associated with the newly created token. If deviceId is provided, this must match the project of the device. If deviceId is omitted, this is required.
                enabled:
                  type: boolean
                  description: Whether this token is enabled or not.
                preapproved:
                  type: boolean
                  description: Whether devices created with this token are preapproved or not.
      responses:
        '200':
          description: A new device token
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceToken'
                - type: object
                  properties:
                    token:
                      type: string
                      description: Generated token. This is only available on creation.
  /device-tokens/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Device token ID
    get:
      tags:
      - Device Tokens
      summary: Get a device token
      security:
      - ApiKey:
        - deviceTokens.list
      responses:
        '200':
          description: The device token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceToken'
    patch:
      tags:
      - Device Tokens
      summary: Edit a device token
      security:
      - ApiKey:
        - deviceTokens.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enables or disables the device token.
              required:
              - enabled
      responses:
        '200':
          description: The device token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceToken'
    delete:
      tags:
      - Device Tokens
      summary: Delete a device token
      security:
      - ApiKey:
        - deviceTokens.delete
      responses:
        '200':
          description: The deleted device token ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The device token ID
                required:
                - id
components:
  schemas:
    DeviceToken:
      type: object
      description: A DeviceToken authenticates a device to the API.
      properties:
        id:
          type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp of the device token's creation
        deviceId:
          type: string
          nullable: true
          description: ID of the associated device
        projectId:
          type: string
          description: ID of the associated project
        enabled:
          type: boolean
          description: Whether this token is enabled or not
        preapproved:
          type: boolean
          description: Whether devices created with this token are preapproved
      required:
      - id
      - createdAt
      - projectId
      - enabled
      - preapproved
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
