openapi: 3.2.0
info:
  title: Foxglove Custom Properties API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library ([`foxglove-client`](https://github.com/foxglove/foxglove-python)) to more easily interact with the Foxglove API.


    The SDK can be downloaded from [PyPI](https://pypi.org/project/foxglove-client/) and source is available on

    [GitHub](https://github.com/foxglove/foxglove-python).


    # Authentication


    All routes excluding the [Site Bucket Notifications endpoint](#tag/Sites/paths/~1site-bucket-notifications/post) require an [API key](/docs/settings#api-keys) with specific capabilities. Only organization admins can create an API key.



    Requests must include the API key in the `Authorization` header as a bearer token:


    ```

    Authorization: Bearer fox_sk_1234...

    ```


    Each endpoint in the API reference lists the capabilities required for access. An endpoint with

    Authorizations `ApiKey (devices.list)` would require an api key with the `devices.list`

    capability.


    # Sorting and pagination


    Some GET endpoints support sorting and pagination.


    Where supported, you will see the following

    query parameters in the endpoint documentation:


    * `sortBy` – Field name to sort by (endpoint specific)

    * `sortOrder` – "asc" or "desc"

    * `limit` – Number of records in the response

    * `offset` – Number of records to skip


    If no limit is provided, endpoints will default to a limit of 2000 items. Requesting a limit

    greater than 2000 items will result in a 400 response.


    # Timestamps


    Unless otherwise documented, all timestamp related fields (start, end, created, etc) use the ISO8601 conforming [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) UTC "Zulu" format.


    In the documentation this will appear as `string` types with `<date-time>` formatting (i.e. `string <date-time>`).


    These timestamps support nanosecond resolution with up to nine fractional digits.


    Examples:

    - 2023-04-06T09:15:30Z

    - 2023-04-06T18:27:45.876543210Z


    > Note: Variants of RFC3339 using durations or offsets which are not conforming to ISO8601 are not supported.


    # Rate limits


    To help ensure responsiveness for all clients, requests to the API may be rate-limited. In this case, a request

    will receive a status code of 429. Your client may refer to headers, such as "Retry-After", to determine when a

    request should be retried.


    In general, if your client experiences an error, you should adjust the rate at which your client makes requests,

    and you may issue retries with a strategy such as exponential backoff.

    '
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Custom Properties
  description: 'Custom properties are typed metadata which you can assign to devices.


    For example, you can create a device custom property identified with a key

    `locationId` and a type of `string`. This enables you to assign a location

    to each of your devices, view that data in Foxglove, and filter devices by

    a location ID.

    '
paths:
  /custom-properties:
    get:
      tags:
      - Custom Properties
      summary: List custom properties
      security:
      - ApiKey:
        - properties.list
      parameters:
      - in: query
        name: resourceType
        description: Filter properties matching a resource type
        schema:
          type: string
          enum:
          - device
          - event
          - session
        required: false
      responses:
        '200':
          description: The custom properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomProperty'
    post:
      tags:
      - Custom Properties
      summary: Create a custom property
      security:
      - ApiKey:
        - properties.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomProperty'
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
  /custom-properties/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Custom Property ID
    get:
      tags:
      - Custom Properties
      summary: Get a custom property
      security:
      - ApiKey:
        - properties.list
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
    patch:
      tags:
      - Custom Properties
      summary: Edit a custom property
      security:
      - ApiKey:
        - properties.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  description: Display label for user interfaces
                  type: string
                  minLength: 1
                  maxLength: 32
                values:
                  description: Moved to `enumValues`. Reorder or add to enum values. Must be a superset of existing values.
                  deprecated: true
                  type: array
                  items:
                    type: string
                  uniqueItems: true
                enumValues:
                  description: Reorder or add to enum values. Must be a superset of existing values.
                  type: array
                  items:
                    type: string
                  uniqueItems: true
              required: []
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
    delete:
      tags:
      - Custom Properties
      summary: Delete a custom property
      description: 'Deleting a device custom property removes all values associated with it.

        Event custom properties can only be deleted when they are not currently associated with any event values.

        '
      security:
      - ApiKey:
        - properties.delete
      responses:
        '200':
          description: ID of the deleted custom property
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                - id
components:
  schemas:
    CustomProperty:
      type: object
      allOf:
      - type: object
        properties:
          id:
            type: string
            description: ID of the custom property
        required:
        - id
        - hasAssociatedData
      - $ref: '#/components/schemas/NewCustomProperty'
    NewCustomProperty:
      type: object
      properties:
        key:
          description: 'An immutable identifier for this custom property; it cannot be edited once saved.


            This key is used to identify the custom property in queries; for example, when filtering

            your devices by a custom property ("partNumber:456").

            '
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[A-Za-z0-9_-]+$
        label:
          description: Display label for user interfaces. May be changed after saving.
          type: string
          minLength: 1
          maxLength: 32
        resourceType:
          description: Resource type to which this custom property may be assigned
          type: string
          enum:
          - device
          - event
          - session
        valueType:
          description: 'The type of the values associated with this custom property

            Number values will be treated as IEEE 754 64-bit floats.

            '
          type: string
          enum:
          - string
          - multiline-string
          - number
          - enum
          - boolean
          - multi-enum
        values:
          description: Moved to `enumValues`. Allowed string values; required if `valueType` is "enum"
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
        enumValues:
          description: Allowed string values; required if `valueType` is "enum"
          type: array
          items:
            type: string
          uniqueItems: true
      required:
      - key
      - label
      - resourceType
      - valueType
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
