openapi: 3.2.0
info:
  title: Foxglove Lake files API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library ([`foxglove-client`](https://github.com/foxglove/foxglove-python)) to more easily interact with the Foxglove API.


    The SDK can be downloaded from [PyPI](https://pypi.org/project/foxglove-client/) and source is available on

    [GitHub](https://github.com/foxglove/foxglove-python).


    # Authentication


    All routes excluding the [Site Bucket Notifications endpoint](#tag/Sites/paths/~1site-bucket-notifications/post) require an [API key](/docs/settings#api-keys) with specific capabilities. Only organization admins can create an API key.



    Requests must include the API key in the `Authorization` header as a bearer token:


    ```

    Authorization: Bearer fox_sk_1234...

    ```


    Each endpoint in the API reference lists the capabilities required for access. An endpoint with

    Authorizations `ApiKey (devices.list)` would require an api key with the `devices.list`

    capability.


    # Sorting and pagination


    Some GET endpoints support sorting and pagination.


    Where supported, you will see the following

    query parameters in the endpoint documentation:


    * `sortBy` – Field name to sort by (endpoint specific)

    * `sortOrder` – "asc" or "desc"

    * `limit` – Number of records in the response

    * `offset` – Number of records to skip


    If no limit is provided, endpoints will default to a limit of 2000 items. Requesting a limit

    greater than 2000 items will result in a 400 response.


    # Timestamps


    Unless otherwise documented, all timestamp related fields (start, end, created, etc) use the ISO8601 conforming [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) UTC "Zulu" format.


    In the documentation this will appear as `string` types with `<date-time>` formatting (i.e. `string <date-time>`).


    These timestamps support nanosecond resolution with up to nine fractional digits.


    Examples:

    - 2023-04-06T09:15:30Z

    - 2023-04-06T18:27:45.876543210Z


    > Note: Variants of RFC3339 using durations or offsets which are not conforming to ISO8601 are not supported.


    # Rate limits


    To help ensure responsiveness for all clients, requests to the API may be rate-limited. In this case, a request

    will receive a status code of 429. Your client may refer to headers, such as "Retry-After", to determine when a

    request should be retried.


    In general, if your client experiences an error, you should adjust the rate at which your client makes requests,

    and you may issue retries with a strategy such as exponential backoff.

    '
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Lake files
  description: 'MCAP files stored in the lake bucket of a [self-hosted Primary Site](https://docs.foxglove.dev/docs/primary-sites#self-hosted).

    You must have an Enterprise account to use lake file endpoints.

    '
paths:
  /lake-files:
    get:
      tags:
      - Lake files
      summary: List lake files
      description: 'This endpoint returns a list of MCAP files in the lake bucket for a given Primary Site.


        For each recording that has been imported, multiple files are created — one per topic.


        This endpoint is only supported for self-managed sites.


        A query must be limited to a specific device or recording using one of the following parameters:

        - deviceId

        - deviceName

        - recordingId

        - recordingKey


        If querying by a device (ID or name), you must also provide `start` and `end` parameters to limit the range of files included. Queries for a specific recording do not require `start` and `end`.


        The range expressed by `start` and `end` must not exceed 24h.

        '
      security:
      - ApiKey:
        - data.stream
      parameters:
      - in: query
        name: siteId
        schema:
          type: string
        description: The ID of a self-managed Primary Site for which the files have been imported
        required: true
      - in: query
        name: deviceId
        schema:
          type: string
          minLength: 1
        description: ID of the device associated with the imported files
        required: false
      - in: query
        name: deviceName
        schema:
          type: string
          minLength: 1
        description: Name of the device associated with the imported files
        required: false
      - in: query
        name: recordingId
        schema:
          type: string
          minLength: 1
        description: A recording ID for which the files have been imported
        required: false
      - in: query
        name: recordingKey
        schema:
          type: string
          minLength: 1
        description: A recording key for which the files have been imported
        required: false
      - in: query
        name: sessionId
        schema:
          type: string
          minLength: 1
        description: Filter to files for recordings in the session with this ID
        required: false
      - in: query
        name: sessionKey
        schema:
          type: string
          minLength: 1
        description: Filter to files for recordings in the session with this key
        required: false
      - in: query
        name: start
        schema:
          type: string
          format: date-time
        description: Inclusive start of an imported recording's time range. If start is provided, end must be too.
        required: false
      - in: query
        name: end
        schema:
          type: string
          format: date-time
        description: Inclusive end of an imported recording's time range. If end is provided, start must be too.
        required: false
      - in: query
        name: topic
        schema:
          type: string
        description: Include only imported files matching this topic name
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    path:
                      type: string
                      description: The full path of the file in the lake bucket
                    topics:
                      description: The topic names associated with this file
                      type: array
                      items:
                        type: string
                  required:
                  - path
                  - topics
components:
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
