openapi: 3.2.0
info:
  title: Foxglove Projects API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Projects
  description: 'Projects are a container for organizing data and resources in Foxglove.

    Your plan must support managing projects.'
paths:
  /projects:
    get:
      tags:
      - Projects
      summary: List projects
      description: List all projects available to the authorized client
      security:
      - ApiKey:
        - projects.list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      operationId: getProjects
      x-operation-id-source: derived
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        orgMemberCount:
          type: number
          description: Number of org members that can access this project
        lastSeenAt:
          type: string
          format: date-time
          description: Timestamp of the last recording uploaded to this project
        isInviteOnly:
          type: boolean
          description: Whether this project is invite-only. If true, org members with the user role will need explicit permission to access the project
      required:
      - id
      - isInviteOnly
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
