openapi: 3.2.0
info:
  title: Foxglove Recording Attachments API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Recording Attachments
  description: 'A recording attachment resource represents information about an MCAP attachment

    imported to Foxglove.


    Attachments are available for individual download or with their recording.'
paths:
  /recording-attachments:
    get:
      tags:
      - Recording Attachments
      summary: List attachments
      security:
      - ApiKey:
        - recordings.list
      x-codeSamples:
      - lang: python
        label: Python
        source: 'from foxglove.client import Client


          token = "<YOUR API TOKEN HERE>"

          client = Client(token=token)


          client.get_attachments()

          '
      parameters:
      - in: query
        name: recordingId
        description: filter by recording ID
        schema:
          type: string
      - in: query
        name: siteId
        description: filter by Primary Site ID
        schema:
          type: string
      - in: query
        name: deviceId
        description: filter by device ID
        schema:
          type: string
      - in: query
        name: deviceName
        description: filter by device name
        schema:
          type: string
      - in: query
        name: device.id
        description: Equivalent to deviceId, and ignored if deviceId is supplied
        schema:
          type: string
        deprecated: true
      - in: query
        name: device.name
        description: Equivalent to deviceName, and ignored if deviceName is supplied
        schema:
          type: string
        deprecated: true
      - in: query
        name: sortBy
        description: Sort by a single field of the attachment
        schema:
          type: string
          enum:
          - logTime
      - in: query
        name: projectId
        description: Filter attachments by project
        schema:
          type: string
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordingAttachment'
      operationId: getRecordingAttachments
      x-operation-id-source: derived
  /recording-attachments/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the attachment
    get:
      tags:
      - Recording Attachments
      summary: Get an attachment
      security:
      - ApiKey:
        - recordings.list
      - QueryServiceToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingAttachment'
      operationId: getRecordingAttachmentsById
      x-operation-id-source: derived
  /recording-attachments/{id}/download:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the attachment to download
    get:
      tags:
      - Recording Attachments
      summary: Download an attachment
      description: 'To download an attachment make a request to this endpoint and follow the 302 redirect. The

        attachment will download directly from the Primary Site.


        Note: The redirect link expires after 15 minutes.'
      security:
      - ApiKey:
        - recordings.list
      x-codeSamples:
      - lang: python
        label: Python
        source: 'from foxglove.client import Client


          token = "<YOUR API TOKEN HERE>"

          client = Client(token=token)


          bytes = client.download_attachment(id=''att_0dHT6ZvqJhfwOcml'')

          '
      responses:
        '302':
          description: Found
          headers:
            Location:
              schema:
                type: string
      operationId: getRecordingAttachmentsByIdDownload
      x-operation-id-source: derived
components:
  parameters:
    sortOrder:
      in: query
      name: sortOrder
      description: Sort order for the `sortBy` field
      schema:
        type: string
        enum:
        - asc
        - desc
    offset:
      in: query
      name: offset
      description: Number of items to skip before returning the results
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      in: query
      name: limit
      description: Maximum number of items to return
      schema:
        type: number
        minimum: 0
        maximum: 2000
        default: 2000
  schemas:
    RecordingAttachment:
      type: object
      description: An attachment resource represents information about an MCAP attachment imported to Foxglove.
      properties:
        id:
          type: string
          description: ID of the attachment
        recordingId:
          type: string
          description: ID of the recording with which the attachment is associated
        siteId:
          type: string
          description: ID of the Primary Site where the attachment data is stored
        name:
          type: string
          description: Name field from the attachment record
        mediaType:
          type: string
          description: Media type from the attachment record
        logTime:
          type: string
          description: Log time field from the attachment record
        createTime:
          type: string
          description: Create time field from the attachment record
        crc:
          type: number
          description: CRC field from the attachment record as a decimal number
        dataOffset:
          type: integer
          description: Offset to the start of the attachment in bytes
        size:
          type: integer
          description: Size of the attachment in bytes
        fingerprint:
          type: string
          description: 'A hash of the attachment content (algorithm subject to change). Two attachments

            with the same fingerprint will have identical content.

            '
        lakePath:
          type: string
          description: Path of attachment in lake storage. Only provided for [self-hosted Primary Sites](https://docs.foxglove.dev/docs/primary-sites#self-hosted).
      required:
      - id
      - recordingId
      - siteId
      - name
      - mediaType
      - logTime
      - createTime
      - crc
      - size
      - fingerprint
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
