openapi: 3.1.0
info:
  title: Foxglove API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: >
    # Python client


    Foxglove provides a Python client library
    ([`foxglove-client`](https://github.com/foxglove/foxglove-python)) to more
    easily interact with the Foxglove API.


    The SDK can be downloaded from
    [PyPI](https://pypi.org/project/foxglove-client/) and source is available on

    [GitHub](https://github.com/foxglove/foxglove-python).


    # Authentication


    All routes excluding the [Site Bucket Notifications
    endpoint](#tag/Sites/paths/~1site-bucket-notifications/post) require an [API
    key](/docs/settings#api-keys) with specific capabilities. Only organization
    admins can create an API key.



    Requests must include the API key in the `Authorization` header as a bearer
    token:


    ```

    Authorization: Bearer fox_sk_1234...

    ```


    Each endpoint in the API reference lists the capabilities required for
    access. An endpoint with

    Authorizations `ApiKey (devices.list)` would require an api key with the
    `devices.list`

    capability.


    # Sorting and pagination


    Some GET endpoints support sorting and pagination.


    Where supported, you will see the following

    query parameters in the endpoint documentation:


    * `sortBy` – Field name to sort by (endpoint specific)

    * `sortOrder` – "asc" or "desc"

    * `limit` – Number of records in the response

    * `offset` – Number of records to skip


    If no limit is provided, endpoints will default to a limit of 2000 items.
    Requesting a limit

    greater than 2000 items will result in a 400 response.


    # Timestamps


    Unless otherwise documented, all timestamp related fields (start, end,
    created, etc) use the ISO8601 conforming
    [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) UTC "Zulu" format.


    In the documentation this will appear as `string` types with `<date-time>`
    formatting (i.e. `string <date-time>`).


    These timestamps support nanosecond resolution with up to nine fractional
    digits.


    Examples:

    - 2023-04-06T09:15:30Z

    - 2023-04-06T18:27:45.876543210Z


    > Note: Variants of RFC3339 using durations or offsets which are not
    conforming to ISO8601 are not supported.


    # Rate limits


    To help ensure responsiveness for all clients, requests to the API may be
    rate-limited. In this case, a request

    will receive a status code of 429. Your client may refer to headers, such as
    "Retry-After", to determine when a

    request should be retried.


    In general, if your client experiences an error, you should adjust the rate
    at which your client makes requests,

    and you may issue retries with a strategy such as exponential backoff.
servers:
  - url: https://api.foxglove.dev/v1
    description: Production
security: []
tags:
  - name: Custom Properties
    description: |
      Custom properties are typed metadata which you can assign to devices.

      For example, you can create a device custom property identified with a key
      `locationId` and a type of `string`. This enables you to assign a location
      to each of your devices, view that data in Foxglove, and filter devices by
      a location ID.
  - name: Devices
    description: >
      Devices represent robots in your organization. It is common to have
      devices for both physical

      and virtual robots.


      Devices are referenced by other resources like recordings and events.


      A device may have [Foxlet](https://docs.foxglove.dev/docs/fleet/foxlet)

      installed on it. In this case, you may configure the retention period for
      recordings on the

      device by setting its `retainRecordingsSeconds`.


      To help manage your devices, you may define [custom
      properties](#tag/Custom-Properties) and

      assign metadata to each device via its `properties`.
  - name: Coverage
    description: >
      Coverage provides the ability to see which time spans are available within
      Foxglove.
  - name: Imports
    description: >
      **The Imports endpoints are deprecated. Use the
      [Recordings](#tag/Recordings) endpoints instead.**


      Imports are recordings that are available at a Primary Site.
  - name: Topics
    description: |
      Topics provide schema information for messages in the data source.
  - name: Events
    description: >
      Adding events can help you quickly identify, categorize, and search for
      points of interest in

      your data. Each event is tied to a device and time span, and can contain
      metadata.


      You can list events by devices, time ranges, and metadata.
  - name: Event Types
    description: >
      Event types help ensure data quality through validation, enable better
      filtering and analytics,

      and provide visual distinctions between categories of events.
  - name: Recordings
    description: >
      A recording is a resource representing the content of an MCAP file or ROS
      bag managed by Data

      Platform.
  - name: Sessions
    description: >
      Sessions are logical groupings of recordings from a single device. They
      allow you to manage

      and interact with recording data independent of how the recordings are
      stored.
  - name: Recording Attachments
    description: >
      A recording attachment resource represents information about an MCAP
      attachment

      imported to Foxglove.


      Attachments are available for individual download or with their recording.
  - name: Sites
    description: >
      A site is a logical grouping of storage and compute for storing Recording
      data.
  - name: Device Tokens
    description: |
      Device tokens authenticate a device to the API.
  - name: Webhook Payloads
    description: >
      [Webhooks](/docs/webhooks) send POST request notifications to your HTTPS
      endpoint

      when events occur within Foxglove. This section describes the JSON request
      body format

      your endpoint should expect for each event type.


      ## recording.created


      `recording.created` events occur when a recording is created. Recordings
      are created

      when a file is [uploaded](/api#tag/Recordings/paths/~1data~1upload/post),
      added to

      [Edge Site](/docs/edge-sites) storage, or created on a device that runs

      [Foxlet](/docs/fleet/foxlet).

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/RecordingCreated" />


      ## recording.imported


      `recording.imported` events occur when a recording is
      [imported](/docs/importing-data)

      and is ready for streaming.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/RecordingImported" />


      ## session.created


      `session.created` events occur when a new [Session](/docs/data/sessions)
      is created. Sessions

      group related recordings and can be created via the API or when recordings
      are

      associated with a session.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/SessionCreated" />


      ## device.created


      `device.created` events occur when a new
      [Device](/docs/importing-data#add-a-device) is created.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/DeviceCreated" />


      ## device.updated


      `device.updated` events occur when a
      [Device](/docs/importing-data#add-a-device) is updated.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/DeviceUpdated" />


      ## event.created


      `event.created` events occur when a new [Event](/docs/events) is created
      in Foxglove.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/EventCreated" />


      ## event.updated


      `event.updated` events occur when an [Event](/docs/events) is updated.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhook_payloads/EventUpdated" />


      ## ping


      The `ping` event type is used to test webhook connectivity.

      <SchemaDefinition schemaRef="#/components/schemas/webhook_payloads/Ping"
      />
  - name: Site Tokens
    description: >
      Site tokens are credentials a [self-hosted Primary
      Site](https://docs.foxglove.dev/docs/primary-sites#self-hosted) or [Edge
      Site](https://docs.foxglove.dev/docs/edge-sites) use to communicate with
      the Foxglove API.
  - name: Site Inbox Notification Tokens
    description: >
      Site inbox notification tokens are credentials used to authenticate bucket
      notifications for a [Primary
      Site](https://docs.foxglove.dev/docs/primary-sites) (self-managed or BYOS)
      to the Foxglove API.
  - name: Lake files
    description: >
      MCAP files stored in the lake bucket of a [self-hosted Primary
      Site](https://docs.foxglove.dev/docs/primary-sites#self-hosted).

      You must have an Enterprise account to use lake file endpoints.
  - name: Projects
    description: >
      [Projects](https://docs.foxglove.dev/docs/projects) are a container for
      organizing data and resources in Foxglove.

      Your plan must support managing projects.
x-tagGroups:
  - name: Data Platform
    tags:
      - Coverage
      - Custom Properties
      - Device Tokens
      - Devices
      - Events
      - Event Types
      - Imports
      - Lake files
      - Projects
      - Recording Attachments
      - Recordings
      - Sessions
      - Site Tokens
      - Site Inbox Notification Tokens
      - Sites
      - Stream data
      - Topics
  - name: Webhooks
    tags:
      - Webhook Payloads
  - name: Visualization
    tags:
      - Extensions
      - Layouts
paths:
  /devices:
    get:
      tags:
        - Devices
      security:
        - ApiKey:
            - devices.list
      summary: List devices
      description: >
        Retrieve a list of devices.


        **Filtering by custom properties**


        Use the `query` parameter to filter devices on custom properties.

        Syntax:

        * `properties.key:value`: matches devices with a property that contains
        a key named `key` with a value of `value`; use double quotes if the
        value contains spaces or special characters

        * `properties.key:value1,value2`: matches devices with a property that
        contains a key named `key` and its value is either `value1` or `value2`

        * `properties.key:*`: matches devices with a property that contains a
        key named `key` and any value

        * `*:value`: matches devices with a property that contains a key with
        any name and a value of `value`

        * `foo`: matches devices with properties where any key or stringified
        value contains `foo`

        Multiple qualifiers can be used in the same query string; this will
        filter devices matching the intersection of the qualifiers (AND).
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_devices()
      parameters:
        - in: query
          name: projectId
          description: Filter devices by project
          schema:
            type: string
          required: false
        - in: query
          name: sortBy
          description: >-
            Field to sort items by ("id", "name", or a custom property key
            prefixed with `properties.`)
          schema:
            type: string
          required: false
        - in: query
          name: query
          description: >-
            Space-separated query string for device custom properties. Each
            custom property key must be valid and prefixed with "properties.".
            See above for syntax and examples.
          schema:
            type: string
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Device'
                    - $ref: '#/components/schemas/DeviceDetails'
                    - $ref: '#/components/schemas/DeviceRemoteAccessState'
    post:
      tags:
        - Devices
      summary: Create a device
      security:
        - ApiKey:
            - devices.create
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.create_device(
                name=name,
                project_id="<YOUR PROJECT ID HERE>",
            )
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/deviceName'
                properties:
                  $ref: '#/components/schemas/CustomPropertyValues'
                  description: >
                    A key-value map, where each key is one of your pre-defined
                    device custom property keys.

                    Keys which are not recognized as custom properties will be
                    ignored.
                  required: []
                projectId:
                  description: >-
                    The project ID that the device belongs to. Required for
                    multi-project orgs.
                  type: string
              required:
                - name
      responses:
        '200':
          description: The newly created device
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Device'
                  - $ref: '#/components/schemas/DeviceDetails'
  /recordings:
    get:
      tags:
        - Recordings
      summary: List recordings
      security:
        - ApiKey:
            - recordings.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_recordings()
      parameters:
        - $ref: '#/components/parameters/start'
          description: >
            Start of inclusive time range: return all recordings with data on or
            after this value
        - $ref: '#/components/parameters/end'
          description: >
            End of inclusive time range: return all recordings with data on or
            before this value
        - in: query
          name: path
          description: Filter response to recordings with this path
          schema:
            type: string
        - in: query
          name: site.id
          description: >-
            Filter response to recordings stored at the Primary Site with this
            ID
          schema:
            type: string
        - in: query
          name: edgeSite.id
          description: Filter response to recordings stored at the Edge Site with this ID
          schema:
            type: string
        - in: query
          name: deviceId
          description: >-
            Filter response to recordings for the device with this ID, empty
            string for those without any
          schema:
            type: string
        - in: query
          name: deviceName
          description: Filter response to recordings for the device with this name
          schema:
            type: string
        - in: query
          name: topic
          description: Filter response to recordings containing the topic
          schema:
            type: string
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: importStatus
          description: Filter response to recordings with this import status
          schema:
            type: string
            enum:
              - none
              - pending
              - importing
              - failed
              - complete
        - in: query
          name: projectId
          description: Filter recordings by project
          schema:
            type: string
          required: false
        - in: query
          name: sessionId
          description: >-
            Filter response to recordings in the session with this ID, or empty
            string for recordings with no associated session
          schema:
            type: string
        - in: query
          name: sessionKey
          description: >-
            Filter response to recordings in the session with this key (sessions
            group recordings from a specific device)
          schema:
            type: string
        - in: query
          name: metadataQuery
          description: >
            Filter recordings by metadata using a query syntax.


            Supports key-value search variations (see [Recordings
            Search](https://docs.foxglove.dev/docs/data/recordings#search)):


            * `key:value`: matches recordings with metadata that contains a key
            named `key` with a value of `value`

            * `key:value1,value2`: matches recordings with metadata that
            contains a key named `key` with a value of either `value1` or
            `value2`

            * `key:*`: matches recordings where any metadata contains a key
            named `key`

            * `*:value`: matches recordings where any metadata contains `value`
            as a value

            * `search term`: matches recordings with metadata where any key or
            value string contains `search term`


            Multiple qualifiers can be used in the same query string; this will
            filter recordings where metadata matches the intersection of the
            qualifiers (AND).


            **Examples:**

            * `temperature:high` - find recordings with sensor metadata where
            temperature is high

            * `status:* device:camera1` - find recordings with any status AND
            device camera1

            * `*:error` - find any key with "error" value

            * `warehouseName:"leaping llama"` - use quotes for values with
            spaces or special characters


            As this is a query parameter, the value must be URL-encoded.
          schema:
            type: string
          required: false
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - in: query
          name: sortBy
          description: >
            Sort returned recordings by a field in the response type. Specifying
            `duration` sorts by

            the duration between the recording `start` and `end` fields.
          schema:
            type: string
            enum:
              - deviceName
              - device.name
              - createdAt
              - start
              - end
              - duration
              - path
              - importedAt
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recording'
  /recordings/{keyOrId}:
    parameters:
      - in: path
        name: keyOrId
        schema:
          type: string
        required: true
        description: Recording Key or ID
    get:
      tags:
        - Recordings
      summary: Get a recording
      description: |
        Get details on a specific recording.
      parameters: []
      security:
        - ApiKey:
            - recordings.list
      responses:
        '200':
          description: A Recording
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
    delete:
      tags:
        - Recordings
      summary: Delete a recording
      description: >
        Deletes a recording. Deleting a recording also deletes the data for that
        recording

        (including attachments, messages, metadata, etc).


        Note: If the recording was imported from an Edge Site, only the imported
        data is

        removed; the edge copy on the Edge Site is unchanged and the recording
        can be

        imported again. The recording remains associated with any session it
        belongs to,

        and re-importing restores it on that session.
      security:
        - ApiKey:
            - recordings.delete
      responses:
        '200':
          description: The deleted recording ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  recordingId:
                    type: string
                    description: The recording ID
                required:
                  - recordingId
  /recordings/{keyOrId}/import:
    parameters:
      - in: path
        name: keyOrId
        schema:
          type: string
        required: true
        description: Recording ID
    post:
      tags:
        - Recordings
      summary: Import from edge
      description: >
        Request import of a recording from an Edge Site to a Primary Site.
        Importing a recording

        makes the data (messages, metadata, attachments, etc.) available for
        download and streaming.


        If the recording is successfully queued for import, is already imported,
        or already queued for

        import, this endpoint will return a 200 response and include the
        recording ID and the

        `importStatus`.


        An import status of `complete` indicates the recording is already
        imported. Poll the `GET

        v1/recordings/{id}` endpoint to observe changes to the `importStatus`.


        If the recording cannot be found or is unavailable for import because
        the edge copy or site

        is deleted, this endpoint will return a 404 response.
      security:
        - ApiKey:
            - data.upload
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Recording ID
                  importStatus:
                    $ref: '#/components/schemas/RecordingImportStatus'
  /sessions:
    get:
      tags:
        - Sessions
      summary: List sessions
      description: >
        Retrieve a list of recording sessions.


        **Filtering by custom properties**


        Use the `query` parameter to filter sessions on custom properties.

        Syntax:

        * `key:value`: matches sessions with a property that contains a key
        named `key` with a value of `value`; use double quotes if the value
        contains spaces or special characters

        * `key:value1,value2`: matches sessions with a property that contains a
        key named `key` and its value is either `value1` or `value2`

        * `key:*`: matches sessions with a property that contains a key named
        `key` and any value

        * `*:value`: matches sessions with a property where any key has the
        value `value`

        * `foo`: matches sessions with properties where any key or stringified
        value contains `foo`

        Multiple qualifiers can be used in the same query string; this will
        filter sessions matching the intersection of the qualifiers (AND).
      security:
        - ApiKey:
            - sessions.list
      parameters:
        - in: query
          name: projectId
          description: Filter sessions by project
          schema:
            type: string
          required: false
        - in: query
          name: deviceId
          description: Filter sessions by device ID
          schema:
            type: string
          required: false
        - in: query
          name: deviceName
          description: Filter sessions by device name
          schema:
            type: string
          required: false
        - in: query
          name: keyMatches
          description: Partial match on session key (case-insensitive)
          schema:
            type: string
          required: false
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - in: query
          name: sortBy
          description: Field to sort items by ("id", "createdAt", "updatedAt")
          schema:
            type: string
            enum:
              - id
              - createdAt
              - updatedAt
          required: false
        - in: query
          name: query
          description: >-
            Space-separated query string for session custom properties. Each
            custom property key must be valid. See above for syntax and
            examples.
          schema:
            type: string
          required: false
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of recording sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordingSessionListItem'
    post:
      tags:
        - Sessions
      summary: Create a session
      description: >
        Create a new recording session. Either `deviceId` or `recordingIds` must
        be provided.

        If `recordingIds` are provided without a `deviceId`, the device is
        inferred from the

        recordings, which must all belong to the same device. The session
        inherits its org and

        project from the device.
      security:
        - ApiKey:
            - sessions.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  description: >-
                    The ID of the device to associate with the session. If
                    omitted, inferred from `recordingIds`.
                  type: string
                key:
                  description: A user-supplied identifier, unique within the project.
                  minLength: 1
                  type: string
                recordingIds:
                  description: >-
                    IDs of recordings to associate with the new session. All
                    recordings must belong to the same device and project.
                  type: array
                  items:
                    type: string
                properties:
                  $ref: '#/components/schemas/CustomPropertyValues'
                  description: >
                    A key-value map, where each key is one of your pre-defined
                    session custom property keys.

                    Keys which are not recognized as custom properties will be
                    ignored.
                  required: []
      responses:
        '200':
          description: The newly created session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSession'
  /sessions/{keyOrId}:
    parameters:
      - in: path
        name: keyOrId
        schema:
          type: string
        required: true
        description: Recording Session Key or ID
    get:
      tags:
        - Sessions
      summary: Get a session
      description: |
        Get details on a specific session.
      security:
        - ApiKey:
            - sessions.list
      parameters:
        - in: query
          name: projectId
          schema:
            type: string
          description: Filter sessions by project. Required for multi-project orgs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSession'
    patch:
      tags:
        - Sessions
      summary: Update recordings in a session
      description: >-
        Add or remove recordings associated with the session. All recordings
        must belong to the same device and project.
      security:
        - ApiKey:
            - sessions.update
      parameters:
        - in: query
          name: projectId
          schema:
            type: string
          description: Filter sessions by project. Required for multi-project orgs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addRecordingIds:
                  type: array
                  items:
                    type: string
                  description: Recording display IDs to add to the session.
                removeRecordingIds:
                  type: array
                  items:
                    type: string
                  description: Recording display IDs to remove from the session.
                properties:
                  description: >
                    Custom properties to assign to the session.

                    Keys which are not included in the request, but exist on the
                    session, will be unchanged.

                    To unset a property, pass `null` as the value.
                  type: object
                  additionalProperties: true
                  required: []
      responses:
        '200':
          description: Updated session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSession'
    delete:
      tags:
        - Sessions
      summary: Delete a session
      description: |
        Soft-delete a recording session and unlink all recordings from it.
        Does not delete recording data.
      security:
        - ApiKey:
            - sessions.delete
      parameters:
        - in: query
          name: projectId
          schema:
            type: string
          description: Filter sessions by project. Required for multi-project orgs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted session
                required:
                  - id
  /actions/devices/{nameOrId}/update-property-time-interval:
    parameters:
      - in: path
        name: nameOrId
        schema:
          type: string
        required: true
        description: >
          Device name or ID. Device names must be URI-encoded if they contain
          non-URI-safe

          characters. If a device is named with another device's ID, the device
          with the matching

          name will be returned.
    post:
      tags:
        - Devices
        - Properties
      summary: Update property time interval
      description: >
        Specify a value that was set for a given time range, or specify no value
        was set for that range.

        Existing records overlapping that time range may be split, trimmed, or
        deleted to accommodate

        this assertion. This endpoint should only be used for updating past time
        intervals. To update the

        current value of a property use the [update
        device](#tag/Devices/paths/~1devices~1%7BnameOrId%7D/patch)

        endpoint.
      security:
        - ApiKey:
            - devices.update
      x-projectIdOptional: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
                  description: >
                    The project ID of the device. Required for multi-project
                    orgs.
                key:
                  type: string
                  description: >
                    The key of the property. Must be an existing device custom
                    property

                    key for your organization.
                value:
                  description: >
                    The value of the property over the given time range. Omit to
                    specify

                    no value was set for that range.
                  oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: array
                      items:
                        type: string
                      uniqueItems: true
                start:
                  type: string
                  format: date-time
                  description: >-
                    Inclusive start of the property's effective time range. Must
                    be in the past.
                end:
                  type: string
                  format: date-time
                  description: >-
                    Exclusive end of the property's effective time range. Must
                    be in the past.
              required:
                - key
                - start
                - end
      responses:
        '204':
          description: Success
  /data/imports:
    get:
      deprecated: true
      tags:
        - Imports
      summary: List imports
      description: >
        **This endpoint is deprecated. Use the [list
        recordings](#tag/Recordings/paths/~1recordings/get) endpoint instead.**
      security:
        - ApiKey:
            - data.imports.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_imports()
      parameters:
        - in: query
          name: deviceId
          description: ID of device associated with the exported data
          schema:
            type: string
        - in: query
          name: filename
          description: Filename to match
          schema:
            type: string
        - $ref: '#/components/parameters/start'
          description: Inclusive start of import time
        - $ref: '#/components/parameters/end'
          description: Inclusive end of import time
        - in: query
          name: dataStart
          description: Inclusive start of message log time
          schema:
            type: string
            format: date-time
        - in: query
          name: dataEnd
          description: Inclusive end of message log time
          schema:
            type: string
            format: date-time
        - in: query
          name: sortBy
          description: Sort by a single field of the import type
          schema:
            type: string
            enum:
              - importId
              - deviceId
              - importTime
              - dataStart
              - dataEnd
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Import'
    delete:
      deprecated: true
      tags:
        - Imports
      summary: Delete multiple imports
      description: >-
        Deletes multiple imports by ID. Returns an array of result objects,
        which indicate whether a given import was successfully deleted. An
        import that has already been deleted will result in "notFound".

        _Note: All imports must belong to the same site. If any import belongs
        to a different site, the entire request is rejected with a 400
        response._
      security:
        - ApiKey:
            - data.imports.delete
      parameters:
        - in: query
          name: id
          description: >-
            ID of import to delete. You can specify up to 50 IDs (for example,
            `?id=abc&id=def&...`).
          required: true
          schema:
            type: array
            items:
              type: string
              description: an import ID
            maxItems: 50
          style: form
          explode: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletionResults:
                    type: array
                    items:
                      type: object
                      properties:
                        importId:
                          type: string
                          description: The import ID that was provided
                        result:
                          type: string
                          description: The result of the deletion attempt.
                          enum:
                            - success
                            - notFound
                      required:
                        - importId
                        - result
                required:
                  - deletionResults
  /data/imports/{importId}:
    parameters:
      - in: path
        name: importId
        schema:
          type: string
        required: true
        description: The `importId` of an import
    delete:
      deprecated: true
      tags:
        - Imports
      summary: Delete an import
      description: >
        **This endpoint is deprecated. Use the [delete
        recording](#tag/Recordings/paths/~1recordings~1%7Bid%7D/delete) endpoint
        instead.**


        Deleting an import deletes all data associated with the import.


        **This action is permanent and cannot be undone.**
      security:
        - ApiKey:
            - data.imports.delete
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.delete_import(
                device_id=device_id,
                import_id=import_id,
            )
      parameters:
        - in: query
          name: deviceId
          deprecated: true
          description: The deviceId from the import record
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
  /data/pending-imports:
    get:
      tags:
        - Recordings
      summary: List pending imports
      description: >
        List the pending imports. These are in-progress import jobs for newly
        uploaded recordings.
      security:
        - ApiKey:
            - data.imports.pending.list
      parameters:
        - in: query
          name: requestId
          description: A specific import request ID
          schema:
            type: string
        - in: query
          name: key
          description: The unique key optionally provided when importing
          schema:
            type: string
        - in: query
          name: deviceId
          description: ID of device associated with the pending import
          schema:
            type: string
        - in: query
          name: deviceName
          description: Name of device associated with the pending import
          schema:
            type: string
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: error
          deprecated: true
          description: Deprecated. Use `/import-errors` instead.
          schema:
            type: string
        - in: query
          name: filename
          description: Filename to exactly match
          schema:
            type: string
        - in: query
          name: updatedSince
          description: Filter pending imports updated since this time
          schema:
            type: string
            format: date-time
        - in: query
          name: showCompleted
          description: Include completed requests
          schema:
            type: boolean
            default: false
        - in: query
          name: showQuarantined
          description: Include quarantined requests
          schema:
            type: boolean
            default: false
        - in: query
          name: siteId
          description: Filter response to imports at site with this ID
          schema:
            type: string
        - in: query
          name: projectId
          description: Filter pending imports by project
          schema:
            type: string
        - in: query
          name: sortBy
          description: Sort by a single field of the import type
          schema:
            type: string
            enum:
              - createdAt
              - deviceId
              - deviceName
              - device.name
              - device.id
              - error
              - importId
              - requestId
              - updatedAt
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingImport'
  /recording-attachments:
    get:
      tags:
        - Recording Attachments
      summary: List attachments
      security:
        - ApiKey:
            - recordings.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_attachments()
      parameters:
        - in: query
          name: recordingId
          description: filter by recording ID
          schema:
            type: string
        - in: query
          name: siteId
          description: filter by Primary Site ID
          schema:
            type: string
        - in: query
          name: deviceId
          description: filter by device ID
          schema:
            type: string
        - in: query
          name: deviceName
          description: filter by device name
          schema:
            type: string
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: sortBy
          description: Sort by a single field of the attachment
          schema:
            type: string
            enum:
              - logTime
        - in: query
          name: projectId
          description: Filter attachments by project
          schema:
            type: string
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordingAttachment'
  /recording-attachments/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the attachment
    get:
      tags:
        - Recording Attachments
      summary: Get an attachment
      security:
        - ApiKey:
            - recordings.list
        - QueryServiceToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingAttachment'
  /recording-attachments/{id}/download:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the attachment to download
    get:
      tags:
        - Recording Attachments
      summary: Download an attachment
      description: >
        To download an attachment make a request to this endpoint and follow the
        302 redirect. The

        attachment will download directly from the Primary Site.


        Note: The redirect link expires after 15 minutes.
      security:
        - ApiKey:
            - recordings.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            bytes = client.download_attachment(id='att_0dHT6ZvqJhfwOcml')
      responses:
        '302':
          description: Found
          headers:
            Location:
              schema:
                type: string
  /data/coverage:
    get:
      tags:
        - Coverage
      summary: List coverage
      description: >-
        A coverage range represents a time span for which Foxglove has data for
        a

        given device.


        You must specify the `start` and `end` arguments when making a coverage
        request.


        Note: By default, only coverage ranges with imported recordings are
        returned. To include

        coverage ranges with unimported recordings from an Edge Site or a device
        running Foxlet, set the

        `includeEdgeRecordings` query parameter to true
      security:
        - ApiKey:
            - data.coverage.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client
            from datetime import datetime, timedelta

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_coverage(
                start=datetime.now() - timedelta(hours=3),
                end=datetime.now() - timedelta(hours=1),
            )
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - in: query
          name: tolerance
          description: >
            Minimum interval (in seconds) that ranges must be separated by to be
            considered discrete.

            Currently, the minimum meaningful value is 14s and smaller values
            will be clamped to this value.
          schema:
            type: number
            minimum: 0
          required: false
        - in: query
          name: deviceId
          description: Filter coverage by device ID
          schema:
            type: string
          required: false
        - in: query
          name: deviceName
          description: Name of device associated with the data
          schema:
            type: string
          required: false
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
          required: false
          deprecated: true
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
          required: false
          deprecated: true
        - in: query
          name: includeEdgeRecordings
          description: >
            Include recordings from an Edge Site or a device running Foxlet in
            the response.


            When edge recordings are included, each item in the response array
            will also include the

            `importStatus` for the coverage range.
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          deprecated: true
          name: importId
          description: Filter coverage by import ID
          schema:
            type: string
          required: false
        - in: query
          name: recordingId
          description: Filter coverage by recording ID
          schema:
            type: string
          required: false
        - in: query
          name: recordingKey
          description: Filter coverage by recordingKey
          schema:
            type: string
          required: false
        - in: query
          name: sessionId
          description: Filter coverage to recordings in the session with this ID
          schema:
            type: string
          required: false
        - in: query
          name: sessionKey
          description: Filter coverage to recordings in the session with this key
          schema:
            type: string
          required: false
        - in: query
          name: projectId
          description: Filter coverage by project
          schema:
            type: string
      responses:
        '200':
          description: Coverage
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coverage'
  /data/import-errors:
    get:
      tags:
        - Recordings
      summary: List import errors
      description: >
        List import errors. These are failed pending imports that have
        encountered errors during processing.
      security:
        - ApiKey:
            - data.imports.pending.list
      parameters:
        - in: query
          name: deviceName
          description: Name of device associated with the import error
          schema:
            type: string
        - in: query
          name: filenameMatches
          description: Pattern to match against filename
          schema:
            type: string
        - in: query
          name: error
          description: A string to filter based on error messages
          schema:
            type: string
        - in: query
          name: projectId
          description: Filter import errors by project
          schema:
            type: string
        - in: query
          name: sortBy
          description: Sort by a single field
          schema:
            type: string
            enum:
              - createdAt
              - deviceName
              - error
              - requestId
              - updatedAt
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingImport'
  /data/stream:
    post:
      tags:
        - Stream data
      summary: Download data
      x-projectIdOptional: true
      description: >
        This endpoint returns a `link` URL where you can download your data as
        an `.mcap` or `.bag`

        file.


        To download your data:
          1. Make a request to this endpoint.
          2. Make a `GET` request to the `link` URL.

        One of `recordingId`, `key`, `importId` (deprecated) or all three of

        `deviceId`/`deviceName`, `start`, and `end` must be specified.


        _Note: You can only export a `.bag` file if you originally uploaded a
        `.bag` file._
      security:
        - ApiKey:
            - data.stream
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client, CompressionFormat, OutputFormat
            from datetime import datetime, timedelta

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            bytes = client.download_data(
                device_id=device_id,
                start=datetime.now() - timedelta(hours=3),
                end=datetime.now() - timedelta(hours=1),
                topics=["/clock", "/tracked_objects"],
                output_format=OutputFormat.mcap,
                compression_format=CompressionFormat.lz4,
                callback=lambda progress: print(".", end=""),
            )

            # Or, to download using a recording ID:
            bytes = client.download_recording_data(id="rec_0dHT6g6cOfff9m5U")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topics:
                  type: array
                  items:
                    type: string
                  description: >-
                    List of topics to include in the exported file (defaults to
                    all topics)
                outputFormat:
                  type: string
                  description: |
                    Output file format.
                      * `bag1` - output a .bag file
                      * `mcap` - output a .mcap file
                      * `mcap0` - Deprecated. Use `mcap`.
                  enum:
                    - bag1
                    - mcap
                    - mcap0
                compressionFormat:
                  type: string
                  description: >
                    Output compression format for chunks. Only valid if
                    `outputFormat` is `mcap`.
                      * `""` - no compression
                      * `zstd` - zstd compression
                      * `lz4` - LZ4 compression (default)
                  default: lz4
                  enum:
                    - ''
                    - zstd
                    - lz4
                includeAttachments:
                  type: boolean
                  description: >
                    Include attachments in streamed data. One of `recordingId`
                    or `importId`

                    (deprecated) must also be set. Only valid for mcap
                    outputFormat.
                isHosted:
                  type: boolean
                  description: true if the import is hosted
                replayPolicy:
                  type: string
                  description: >
                    If set to "lastPerChannel", then the stream will include the
                    most recent message

                    on each channel, even if it comes before the requested
                    `start`, as long as it is

                    within the window of `replayLookbackSeconds` seconds before
                    `start`.


                    The default, `""` (no policy), means no messages before
                    `start` are included.
                  enum:
                    - lastPerChannel
                    - ''
                replayLookbackSeconds:
                  type: number
                  description: >
                    The maximum amount of time (in seconds) to look back before
                    `start` in order to

                    find the latest message. Only used if `replayPolicy` is set
                    to "lastPerChannel".
                  minimum: 0
                deviceId:
                  type: string
                  description: ID of device associated with the exported data
                  minLength: 1
                device.id:
                  type: string
                  description: Equivalent to deviceId, and ignored if deviceId is supplied
                  deprecated: true
                  minLength: 1
                deviceName:
                  type: string
                  description: Name of device associated with the exported data.
                  minLength: 1
                device.name:
                  type: string
                  description: >-
                    Equivalent to deviceName, and ignored if deviceName is
                    supplied
                  deprecated: true
                  minLength: 1
                start:
                  type: string
                  format: date-time
                  description: >-
                    Inclusive start of requested time range. If start is
                    provided, end must be too.
                end:
                  type: string
                  format: date-time
                  description: >-
                    Inclusive end of requested time range. If end is provided,
                    start must be too.
                importId:
                  type: string
                  description: ID of the import to stream
                  deprecated: true
                  minLength: 1
                recordingId:
                  type: string
                  description: ID of the recording to stream
                  minLength: 1
                recordingKey:
                  type: string
                  description: Key of recording to stream
                  minLength: 1
                key:
                  type: string
                  deprecated: true
                  description: Key of recording to stream
                  minLength: 1
                sessionId:
                  type: string
                  description: ID of a session to stream
                  minLength: 1
                sessionKey:
                  type: string
                  description: >-
                    Key of a session to stream. Ensure projectId is provided if
                    streaming by sessionKey.
                  minLength: 1
                projectId:
                  type: string
                  description: >
                    ID of a project to scope the streaming to. Recommended when
                    streaming by deviceName.

                    Required if the device name exists in multiple projects.
                    Required when streaming by sessionKey.
                  minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: >-
                      A signed url to access the data. This link expires after
                      15 seconds.
                required:
                  - link
  /data/upload:
    post:
      tags:
        - Recordings
      summary: Upload a recording
      description: >
        Use this endpoint to upload data to your `foxglove-hosted` site. The
        upload is a two-request

        process.


        1. Make a request to this upload endpoint to create an upload `link`.

        2. Issue a PUT HTTP request to the `link` response field URL.


        _Your PUT request header should have `Content-Type:
        application/octet-stream`, and your

        request body should contain your file content._


        Note: If you are using a self-hosted site, see [this

        guide](https://docs.foxglove.dev/docs/primary-sites/self-hosting/manage-data)
        for uploading data.


        #### Size considerations


        While we support processing very large files, we generally recommend
        avoiding large (50GB+)

        files to reduce the chance of upload failures or processing issues. If
        you have tooling that

        generates very large files, consider splitting them up into smaller
        chunks.
      security:
        - ApiKey:
            - data.upload
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client
            from pathlib import Path

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            with Path("my_mcap_data.mcap").open("rb") as byte_stream:
                client.upload_data(
                    device_id=device_id,
                    filename="my_mcap_data.mcap",
                    data=byte_stream,
                    callback=lambda size, progress: print(size, progress),
                    project_id="<YOUR PROJECT ID HERE>",
                )
      requestBody:
        required: true
        description: >-
          In addition to `filename`, one of `deviceId`, `deviceName`, or `key`
          is required and `projectId` is recommended.
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                  description: Foxglove ID of the associated device
                deviceName:
                  type: string
                  description: >-
                    Unique name of the associated device. If no device exists
                    with this name, the device will be created.
                device.name:
                  type: string
                  deprecated: true
                  description: >-
                    Equivalent to deviceName, and ignored if deviceName is
                    supplied
                device.id:
                  type: string
                  deprecated: true
                  description: Equivalent to deviceId, and ignored if deviceId is supplied
                filename:
                  type: string
                  description: Name of the file that will be uploaded
                key:
                  type: string
                  minLength: 1
                  description: A unique key to identify the recording
                projectId:
                  type: string
                  description: >-
                    The project ID that the recording belongs to. Required for
                    multi-project orgs if an existing device is not provided
                sessionId:
                  type: string
                  description: ID of an existing session to associate the upload with.
                sessionKey:
                  type: string
                  description: >-
                    Key of a session to associate the upload with. If no session
                    exists with this key, a new session will be created using
                    the provided device.
              required:
                - filename
      responses:
        '200':
          description: Upload details
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: >-
                      A signed upload URL. Upload your data to this URL using a
                      PUT request.
                  requestId:
                    type: string
                required:
                  - link
                  - requestId
  /data/topics:
    get:
      tags:
        - Topics
      summary: List topics
      description: >-
        Get a list of topics available for a device within a given time range.


        By default, this endpoint will not return the `schema` for each topic.
        To include

        the schemas, you must provide the `includeSchemas` query parameter.


        Use `start` and `end` to limit the response to overlapping recording
        ranges.


        Topics for not-imported recordings are only returned if no parameter is
        provided besides

        recordingId or recordingKey. This is because most parameters need the
        imported files to

        filter, and can only return an empty list if imports are unavailable.
      security:
        - ApiKey:
            - data.topics.list
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client
            from datetime import datetime, timedelta

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_topics(
                device_id=device_id,
                start=datetime.now() - timedelta(hours=3),
                end=datetime.now() - timedelta(hours=1),
            )
      parameters:
        - $ref: '#/components/parameters/start'
          description: |
            Return all topics appearing in recordings ending on or after `start`
        - $ref: '#/components/parameters/end'
          description: >
            Return all topics appearing in recordings starting on or before
            `end` (updated March 2024 to be `<=` instead of `<`)
        - in: query
          name: importId
          description: ID of the import from which to list topics
          deprecated: true
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: recordingId
          description: ID of the recording from which to list topics
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: recordingKey
          description: Key of the recording from which to list topics
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: deviceId
          description: ID of device being queried
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
            minLength: 1
          required: false
          deprecated: true
        - in: query
          name: deviceName
          description: Name of device being queried
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
            minLength: 1
          required: false
          deprecated: true
        - in: query
          name: sessionId
          description: ID of a recording session to list topics from
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: sessionKey
          description: Key of a recording session to list topics from
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: includeSchemas
          description: Whether full schemas should be included in the response
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: sortBy
          description: Sort by a single field of the topic type ("topic" or "version")
          schema:
            type: string
            enum:
              - topic
              - version
          required: false
        - in: query
          name: projectId
          description: Filter topics matching project ID
          schema:
            type: string
          required: false
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of topics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Topic'
  /devices/{nameOrId}:
    parameters:
      - in: path
        name: nameOrId
        schema:
          type: string
        required: true
        description: >
          Device name or ID. Device names must be URI-encoded if they contain

          non-URI-safe characters. If a device is named with another device's
          ID,

          the device with the matching name will be returned.
    get:
      tags:
        - Devices
      summary: Get a device
      description: |
        Get details on a specific device.
      security:
        - ApiKey:
            - devices.list
      x-projectIdOptional: true
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_device(
                device_id=device_id,
            )
      parameters:
        - in: query
          name: projectId
          description: Filter devices by project
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Device'
                  - $ref: '#/components/schemas/DeviceRemoteAccessState'
    delete:
      tags:
        - Devices
      summary: Delete a device
      description: >
        Delete a device. Once a device is deleted, it will no longer show up in
        your list of devices.


        _Before deleting a device, you must delete all associated data._
      security:
        - ApiKey:
            - devices.delete
      x-projectIdOptional: true
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.delete_device(device_id=device_id)
      parameters:
        - in: query
          name: projectId
          description: Filter devices by project
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted device
                required:
                  - id
    patch:
      tags:
        - Devices
      summary: Update a device
      security:
        - ApiKey:
            - devices.update
      x-projectIdOptional: true
      parameters:
        - in: query
          name: projectId
          description: Filter devices by project
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Device names must be unique within a project.
                retainRecordingsSeconds:
                  type: integer
                  minimum: 0
                  description: >
                    Optionally set a retention period for recordings created on
                    a device running

                    Foxlet. If set to zero, recordings are retained
                    indefinitely. This is only

                    relevant for devices that have Foxlet installed.
                properties:
                  description: >
                    A key-value map, where each key is one of your pre-defined
                    device custom property keys.

                    Keys which are not recognized as custom properties will be
                    ignored.

                    Keys which are not included in the request, but exist on the
                    device, will be unchanged.

                    To unset a property, pass `null` as the value.
                  type: object
                  additionalProperties: true
                  required: []
                enabled:
                  description: >
                    Whether this device is enabled. Devices are enabled by
                    default,

                    unless they are created with a device token with
                    `preapproved` set to false.

                    Disabled devices show up in the device list, but you can't
                    upload recordings

                    for them. A device token linked to a disabled device does
                    not grant access to the API.
                  type: boolean
                remoteAccessEnabled:
                  description: >
                    Whether remote access is enabled for this device. When
                    disabled, the device

                    cannot establish new remote access sessions.
                  type: boolean
                autoDeleteAfterImport:
                  description: >
                    Whether recordings on a device running Foxlet are
                    automatically deleted

                    once they have been successfully uploaded and accepted for
                    import. This is

                    only relevant for devices that have Foxlet installed. Foxlet
                    versions

                    older than 1.5.0 ignore this setting until upgraded.
                  type: boolean
      responses:
        '200':
          description: Update device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
  /devices/{nameOrId}/property-time-intervals:
    parameters:
      - in: path
        name: nameOrId
        schema:
          type: string
        required: true
        description: >
          Device name or ID. Device names must be URI-encoded if they contain
          non-URI-safe

          characters. If a device is named with another device's ID, the device
          with the matching

          name will be returned.
    get:
      tags:
        - Devices
        - Properties
      summary: List property time intervals
      description: >
        Returns a list of values and the time intervals for which they were in
        effect for a device.


        Use the `query` parameter to filter property history on custom property
        key/value criteria.

        Syntax:

        * `key:value`: matches rows where the property key is `key` and the
        value equals `value`; use double quotes if the value contains spaces or
        special characters

        * `key:value1,value2`: matches rows where the property key is `key` and
        the value is either `value1` or `value2`

        * `key:*`: matches rows where the property key is `key` and any value

        * `*:value`: matches rows where any key has the value `value`

        * `foo`: matches rows where any key or stringified value contains `foo`

        Multiple qualifiers can be used in the same query string; this will
        filter rows matching the intersection of the qualifiers (AND).
      security:
        - ApiKey:
            - devices.list
      x-projectIdOptional: true
      parameters:
        - in: query
          name: projectId
          description: >-
            The project ID that the device belongs to. Required for
            multi-project orgs.
          schema:
            type: string
          required: false
        - in: query
          name: query
          description: >-
            Space-separated query string for device property history. Each
            custom property key must be valid. See above for syntax and
            examples.
          schema:
            type: string
          required: false
        - in: query
          name: start
          description: Properties active on or after this time will be included.
          schema:
            type: string
            format: date-time
          required: false
        - in: query
          name: end
          description: Properties active before this time will be included.
          schema:
            type: string
            format: date-time
          required: false
        - in: query
          name: sortBy
          description: Field to sort items by ("id", "key", "start", "end")
          schema:
            type: string
            enum:
              - id
              - key
              - start
              - end
          required: false
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Property time intervals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceCustomPropertyTimeInterval'
  /devices/{nameOrId}/property-time-intervals/{id}:
    parameters:
      - in: path
        name: nameOrId
        schema:
          type: string
        required: true
        description: >
          Device name or ID. Device names must be URI-encoded if they contain
          non-URI-safe

          characters. If a device is named with another device's ID, the device
          with the matching

          name will be returned.
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: |
          Property Time Interval ID.
    get:
      tags:
        - Devices
        - Properties
      summary: Get a device property time interval
      description: |
        Returns a specific device property time interval for a device.
      security:
        - ApiKey:
            - devices.list
      x-projectIdOptional: true
      parameters:
        - in: query
          name: projectId
          description: >-
            The project ID that the device belongs to. Required for
            multi-project orgs.
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Property time interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCustomPropertyTimeInterval'
  /extension-upload:
    post:
      tags:
        - Extensions
      summary: Publish an extension
      description: >-
        **Available on Free, Pro, and Enterprise plans**


        Publish a new [Foxglove
        extension](https://docs.foxglove.dev/docs/extensions)

        or an updated version of an existing extension. When uploaded, the
        extension will automatically be

        installed for users in your organization.


        See our packaging tool
        [`create-foxglove-extension`](https://github.com/foxglove/create-foxglove-extension/)

        for more information on how to create an extension.


        Read the [docs](https://docs.foxglove.dev/docs/extensions)

        for more information on Foxglove extensions.
      requestBody:
        description: >-
          The request headers must contain `Content-Type:
          application/octet-stream`.

          The request body must contain the contents of your (`.foxe`) extension
          file.

          All other information about the extension will be parsed from the
          package.json file.


          **`package.json` requirements**


          An extension is uniquely identified by its publisher and name, which
          are

          both required in your `package.json`. Both values are
          case-insensitive,

          so a package named `custompanel` would be the same as one named
          `CustomPanel`.


          To update an extension, change its version in `package.json`, create a

          new `.foxe` bundle, and upload it via this endpoint. Version numbers
          must

          be unique to each extension. There are no other restrictions on
          versioning schemes.


          To publish an extension to your organization, your `package.json` must
          define

          a `displayName`. This is displayed to users in your organization.


          Once an extension is uploaded, its `displayName` may not be changed by
          future versions.
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
        - ApiKey:
            - extensions.create
      responses:
        '200':
          description: Extension ID
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                required:
                  - id
        '409':
          description: Conflict with package name and version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /extensions:
    get:
      tags:
        - Extensions
      summary: List extensions
      description: >-
        Organization admins can share and manage Foxglove extensions. Check out
        the

        [docs](https://docs.foxglove.dev/docs/extensions) to learn more.
      security:
        - ApiKey:
            - extensions.list
      responses:
        '200':
          description: List of extensions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Extension'
  /extensions/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: Extension ID
    get:
      tags:
        - Extensions
      summary: Get an extension
      security:
        - ApiKey:
            - extensions.list
      responses:
        '200':
          description: Extension details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionWithSignedLink'
    delete:
      tags:
        - Extensions
      summary: Delete an extension
      description: >
        Once deleted, the extension will no longer be available within your
        organization.
      security:
        - ApiKey:
            - extensions.delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted extension
                required:
                  - id
  /events:
    get:
      tags:
        - Events
      security:
        - ApiKey:
            - events.list
      summary: List events
      description: >
        Retrieve a list of events.


        Use the `query` parameter to filter events on key/value criteria.

        The `queryFields` parameter can be used in combination with `query` to
        specify

        which fields to filter events by.


        Syntax:


        * `key:value`: matches events with metadata that contains a key named
        `key` with a value of `value`; use double quotes if the value contains
        spaces or special characters

        * `key:value1,value2`: matches events with metadata that contains a key
        named `key` with a value of either `value1` or `value2`

        * `key:*`: matches events where any metadata that contains a key named
        `key`

        * `*:value`: matches events where any metadata that contains `value` as
        a value

        * `foo`: matches events with metadata where any key or value string
        contains `foo`


        Multiple qualifiers can be used in the same query string; this will
        filter events where metadata matches the intersection of the qualifiers
        (AND).


        Examples:


        * `key1:value1 key2:value2`: matches metadata that contains both a key
        named `key1` with its value `value1` and another key named `key2` with
        its value `value2`

        * `key:"value with spaces"`: matches metadata with a key named `key` and
        its value `value with spaces`

        * `key:value foo`: matches metadata that contains both a key named `key`
        with its value `value` and any key or value that contains the text `foo`


        > Note: The `start` and `end` query arguments will find any events which
        intersect the query range (inclusive of start and end).
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client
            from datetime import datetime, timedelta

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.get_events(
                device_id=device_id,
                sort_by=sort_by,
                sort_order=sort_order,
                limit=limit,
                offset=offset,
                start=datetime.now() - timedelta(hours=3),
                end=datetime.now() - timedelta(hours=1),
                query="key:val"
            )
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - in: query
          name: createdAfter
          description: |
            Return all events created after this date and time
          schema:
            type: string
            format: date-time
        - in: query
          name: updatedAfter
          description: |
            Return all events updated after this date and time
          schema:
            type: string
            format: date-time
        - in: query
          name: projectId
          description: Filter events by project
          schema:
            type: string
          required: false
        - in: query
          name: deviceId
          description: Filter events matching device ID
          schema:
            type: string
        - in: query
          name: eventId
          description: Filter events by exact event ID
          schema:
            type: string
        - in: query
          name: deviceName
          description: Name of device associated with the event
          schema:
            type: string
        - in: query
          name: device.name
          description: Equivalent to deviceName, and ignored if deviceName is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: device.id
          description: Equivalent to deviceId, and ignored if deviceId is supplied
          schema:
            type: string
          deprecated: true
        - in: query
          name: query
          description: >-
            Event query string. Comprises a space-separated list of event
            queries, where the syntax of those queries is described above.
          schema:
            type: string
        - in: query
          name: queryFields
          description: Which fields to query events by. Defaults to "metadata".
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - metadata
                - properties
        - in: query
          name: sortBy
          description: field to sort response items by
          schema:
            type: string
            enum:
              - id
              - deviceId
              - deviceName
              - device.name
              - device.id
              - start
              - createdAt
              - updatedAt
        - in: query
          name: eventTypeId
          description: Filter events by their event type.
          schema:
            type: string
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of device events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
    post:
      tags:
        - Events
      security:
        - ApiKey:
            - events.create
      x-projectIdOptional: true
      summary: Create an event
      description: |
        Create a new event.

        Note: Creating an new event currently requires a device ID or device
          name, however the `device` field on the Event resource responses is
          optional to allow future API expansion for attaching events to other
          types of resources.
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client
            from datetime import datetime, timedelta

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            event_time = datetime.now()

            client.create_event(
                device_id=device_id,
                start=event_time,
                end=event_time,
                metadata={"message": "Hi from python!"}
            )
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateInput'
      responses:
        '200':
          description: The created event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /events/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the event
    get:
      tags:
        - Events
      summary: Get an event
      security:
        - ApiKey:
            - events.list
      responses:
        '200':
          description: The event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
    delete:
      tags:
        - Events
      security:
        - ApiKey:
            - events.delete
      summary: Delete an event
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            from foxglove.client import Client

            token = "<YOUR API TOKEN HERE>"
            client = Client(token=token)

            client.delete_event(
                event_id=event_id,
            )
      responses:
        '200':
          description: ID of the deleted event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDeleteResponse'
    patch:
      tags:
        - Events
      summary: Update an event
      security:
        - ApiKey:
            - events.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdateInput'
      responses:
        '200':
          description: The updated event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /event-types:
    get:
      tags:
        - Event Types
      summary: List event types
      security:
        - ApiKey:
            - eventTypes.list
      parameters: []
      responses:
        '200':
          description: A list of event types
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/EventType'
                    - type: object
    post:
      tags:
        - Event Types
      summary: Create an event type
      security:
        - ApiKey:
            - eventTypes.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the event type
                  minLength: 1
                  maxLength: 32
                colorName:
                  type: string
                  description: Color name of the event type, e.g. "red"
                  minLength: 1
                  maxLength: 32
                customProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/EventTypeCustomProperty'
                  description: >-
                    Ordered array of custom properties associated with the event
                    type
              required:
                - name
                - customProperties
      responses:
        '200':
          description: The created event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
  /event-types/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the event type
    get:
      tags:
        - Event Types
      summary: Get an event type
      security:
        - ApiKey:
            - eventTypes.list
      parameters: []
      responses:
        '200':
          description: The event type
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EventType'
                  - type: object
    patch:
      tags:
        - Event Types
      summary: Update an event type
      security:
        - ApiKey:
            - eventTypes.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the event type
                  minLength: 1
                  maxLength: 32
                colorName:
                  type: string
                  description: Color name of the event type, e.g. "red"
                  minLength: 1
                  maxLength: 32
                customProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/EventTypeCustomProperty'
                  description: >-
                    Ordered array of custom properties associated with the event
                    type. This will replace the existing customProperties list.
              minProperties: 1
      responses:
        '200':
          description: The updated event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
    delete:
      tags:
        - Event Types
      summary: Delete an event type
      security:
        - ApiKey:
            - eventTypes.delete
      responses:
        '200':
          description: ID of the deleted event type
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the deleted event type
                required:
                  - id
  /lake-files:
    get:
      tags:
        - Lake files
      summary: List lake files
      description: >
        This endpoint returns a list of MCAP files in the lake bucket for a
        given Primary Site.


        For each recording that has been imported, multiple files are created —
        one per topic.


        This endpoint is only supported for self-managed sites.


        A query must be limited to a specific device or recording using one of
        the following parameters:

        - deviceId

        - deviceName

        - recordingId

        - recordingKey


        If querying by a device (ID or name), you must also provide `start` and
        `end` parameters to limit the range of files included. Queries for a
        specific recording do not require `start` and `end`.


        The range expressed by `start` and `end` must not exceed 24h.
      security:
        - ApiKey:
            - data.stream
      parameters:
        - in: query
          name: siteId
          schema:
            type: string
          description: >-
            The ID of a self-managed Primary Site for which the files have been
            imported
          required: true
        - in: query
          name: deviceId
          schema:
            type: string
            minLength: 1
          description: ID of the device associated with the imported files
          required: false
        - in: query
          name: deviceName
          schema:
            type: string
            minLength: 1
          description: Name of the device associated with the imported files
          required: false
        - in: query
          name: recordingId
          schema:
            type: string
            minLength: 1
          description: A recording ID for which the files have been imported
          required: false
        - in: query
          name: recordingKey
          schema:
            type: string
            minLength: 1
          description: A recording key for which the files have been imported
          required: false
        - in: query
          name: sessionId
          schema:
            type: string
            minLength: 1
          description: Filter to files for recordings in the session with this ID
          required: false
        - in: query
          name: sessionKey
          schema:
            type: string
            minLength: 1
          description: Filter to files for recordings in the session with this key
          required: false
        - in: query
          name: start
          schema:
            type: string
            format: date-time
          description: >-
            Inclusive start of an imported recording's time range. If start is
            provided, end must be too.
          required: false
        - in: query
          name: end
          schema:
            type: string
            format: date-time
          description: >-
[...]
