openapi: 3.2.0
info:
  title: Foxglove Device Tokens API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Device Tokens
  description: Device tokens authenticate a device to the API.
paths:
  /device-tokens:
    get:
      tags:
      - Device Tokens
      summary: List device tokens
      security:
      - ApiKey:
        - deviceTokens.list
      parameters:
      - in: query
        name: deviceId
        description: Filter by device ID
        schema:
          type: string
        required: false
      responses:
        '200':
          description: List of device tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceToken'
      operationId: getDeviceTokens
      x-operation-id-source: derived
    post:
      tags:
      - Device Tokens
      summary: Create a device token
      security:
      - ApiKey:
        - deviceTokens.create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                  description: Device ID associated with the newly created token. If not given, the token will be "unassociated" with a device and will only be usable after using it to create a device.
                projectId:
                  type: string
                  description: Project ID associated with the newly created token. If deviceId is provided, this must match the project of the device. If deviceId is omitted, this is required.
                enabled:
                  type: boolean
                  description: Whether this token is enabled or not.
                preapproved:
                  type: boolean
                  description: Whether devices created with this token are preapproved or not.
      responses:
        '200':
          description: A new device token
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceToken'
                - type: object
                  properties:
                    token:
                      type: string
                      description: Generated token. This is only available on creation.
      operationId: postDeviceTokens
      x-operation-id-source: derived
  /device-tokens/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Device token ID
    get:
      tags:
      - Device Tokens
      summary: Get a device token
      security:
      - ApiKey:
        - deviceTokens.list
      responses:
        '200':
          description: The device token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceToken'
      operationId: getDeviceTokensById
      x-operation-id-source: derived
    patch:
      tags:
      - Device Tokens
      summary: Edit a device token
      security:
      - ApiKey:
        - deviceTokens.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enables or disables the device token.
              required:
              - enabled
      responses:
        '200':
          description: The device token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceToken'
      operationId: patchDeviceTokensById
      x-operation-id-source: derived
    delete:
      tags:
      - Device Tokens
      summary: Delete a device token
      security:
      - ApiKey:
        - deviceTokens.delete
      responses:
        '200':
          description: The deleted device token ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The device token ID
                required:
                - id
      operationId: deleteDeviceTokensById
      x-operation-id-source: derived
components:
  schemas:
    DeviceToken:
      type: object
      description: A DeviceToken authenticates a device to the API.
      properties:
        id:
          type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp of the device token's creation
        deviceId:
          type: string
          nullable: true
          description: ID of the associated device
        projectId:
          type: string
          description: ID of the associated project
        enabled:
          type: boolean
          description: Whether this token is enabled or not
        preapproved:
          type: boolean
          description: Whether devices created with this token are preapproved
      required:
      - id
      - createdAt
      - projectId
      - enabled
      - preapproved
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
