openapi: 3.2.0
info:
  title: Foxglove Extensions API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Extensions
paths:
  /extension-upload:
    post:
      tags:
      - Extensions
      summary: Publish an extension
      description: '**Available on Free, Pro, and Enterprise plans**


        Publish a new Foxglove extension

        or an updated version of an existing extension. When uploaded, the extension will automatically be

        installed for users in your organization.


        See our packaging tool `create-foxglove-extension`

        for more information on how to create an extension.


        Read the docs

        for more information on Foxglove extensions.'
      requestBody:
        description: 'The request headers must contain `Content-Type: application/octet-stream`.

          The request body must contain the contents of your (`.foxe`) extension file.

          All other information about the extension will be parsed from the package.json file.


          **`package.json` requirements**


          An extension is uniquely identified by its publisher and name, which are

          both required in your `package.json`. Both values are case-insensitive,

          so a package named `custompanel` would be the same as one named `CustomPanel`.


          To update an extension, change its version in `package.json`, create a

          new `.foxe` bundle, and upload it via this endpoint. Version numbers must

          be unique to each extension. There are no other restrictions on versioning schemes.


          To publish an extension to your organization, your `package.json` must define

          a `displayName`. This is displayed to users in your organization.


          Once an extension is uploaded, its `displayName` may not be changed by future versions.'
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
      - ApiKey:
        - extensions.create
      responses:
        '200':
          description: Extension ID
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                required:
                - id
        '409':
          description: Conflict with package name and version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postExtensionUpload
      x-operation-id-source: derived
  /extensions:
    get:
      tags:
      - Extensions
      summary: List extensions
      description: 'Organization admins can share and manage Foxglove extensions. Check out the

        docs to learn more.'
      security:
      - ApiKey:
        - extensions.list
      responses:
        '200':
          description: List of extensions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Extension'
      operationId: getExtensions
      x-operation-id-source: derived
  /extensions/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Extension ID
    get:
      tags:
      - Extensions
      summary: Get an extension
      security:
      - ApiKey:
        - extensions.list
      responses:
        '200':
          description: Extension details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionWithSignedLink'
      operationId: getExtensionsById
      x-operation-id-source: derived
    delete:
      tags:
      - Extensions
      summary: Delete an extension
      description: Once deleted, the extension will no longer be available within your organization.
      security:
      - ApiKey:
        - extensions.delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted extension
                required:
                - id
      operationId: deleteExtensionsById
      x-operation-id-source: derived
components:
  schemas:
    ExtensionWithSignedLink:
      allOf:
      - $ref: '#/components/schemas/Extension'
      - type: object
        properties:
          foxe:
            type: string
            description: Signed download link for the extension
        required:
        - foxe
    Extension:
      type: object
      properties:
        id:
          type: string
          description: Assigned by backend
        name:
          type: string
          description: Name as it appears in your package.json
        publisher:
          type: string
          description: Publisher as it appears in your package.json
        displayName:
          type: string
          description: Display name as it appears in your package.json
        description:
          type: string
          nullable: true
          description: Description as it appears in the active version's package.json
        activeVersion:
          type: string
          nullable: true
          description: Version string as it appears in the active version's package.json
        sha256Sum:
          type: string
          nullable: true
          description: SHA-256 sum of the active version contents, encoded as hex
      required:
      - id
      - name
      - publisher
      - displayName
      - description
      - activeVersion
      - sha256Sum
    Error:
      type: object
      properties:
        error:
          type: string
      required:
      - error
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
