openapi: 3.2.0
info:
  title: Foxglove Event Types API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Event Types
  description: 'Event types help ensure data quality through validation, enable better filtering and analytics,

    and provide visual distinctions between categories of events.'
paths:
  /event-types:
    get:
      tags:
      - Event Types
      summary: List event types
      security:
      - ApiKey:
        - eventTypes.list
      parameters: []
      responses:
        '200':
          description: A list of event types
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/EventType'
                  - type: object
      operationId: getEventTypes
      x-operation-id-source: derived
    post:
      tags:
      - Event Types
      summary: Create an event type
      security:
      - ApiKey:
        - eventTypes.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the event type
                  minLength: 1
                  maxLength: 32
                colorName:
                  type: string
                  description: Color name of the event type, e.g. "red"
                  minLength: 1
                  maxLength: 32
                customProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/EventTypeCustomProperty'
                  description: Ordered array of custom properties associated with the event type
              required:
              - name
              - customProperties
      responses:
        '200':
          description: The created event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
      operationId: postEventTypes
      x-operation-id-source: derived
  /event-types/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the event type
    get:
      tags:
      - Event Types
      summary: Get an event type
      security:
      - ApiKey:
        - eventTypes.list
      parameters: []
      responses:
        '200':
          description: The event type
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EventType'
                - type: object
      operationId: getEventTypesById
      x-operation-id-source: derived
    patch:
      tags:
      - Event Types
      summary: Update an event type
      security:
      - ApiKey:
        - eventTypes.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the event type
                  minLength: 1
                  maxLength: 32
                colorName:
                  type: string
                  description: Color name of the event type, e.g. "red"
                  minLength: 1
                  maxLength: 32
                customProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/EventTypeCustomProperty'
                  description: Ordered array of custom properties associated with the event type. This will replace the existing customProperties list.
              minProperties: 1
      responses:
        '200':
          description: The updated event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
      operationId: patchEventTypesById
      x-operation-id-source: derived
    delete:
      tags:
      - Event Types
      summary: Delete an event type
      security:
      - ApiKey:
        - eventTypes.delete
      responses:
        '200':
          description: ID of the deleted event type
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the deleted event type
                required:
                - id
      operationId: deleteEventTypesById
      x-operation-id-source: derived
components:
  schemas:
    EventType:
      type: object
      properties:
        id:
          type: string
          description: ID of the event type
        name:
          type: string
          description: Name of the event type
        createdAt:
          type: string
          format: date-time
          description: When the event type was created
        updatedAt:
          type: string
          format: date-time
          description: When the event type was last updated
        colorName:
          type: string
          description: Color name of the event type, e.g. "red"
        customProperties:
          type: array
          items:
            $ref: '#/components/schemas/EventTypeCustomProperty'
          description: Ordered array of custom properties associated with the event type
      required:
      - id
      - name
      - createdAt
      - updatedAt
    EventTypeCustomProperty:
      type: object
      properties:
        id:
          type: string
          description: ID of the custom property
        required:
          type: boolean
          description: Whether the custom property is required for this event type
      required:
      - id
      - required
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
