openapi: 3.2.0
info:
  title: Foxglove Site Inbox Notification Tokens API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Site Inbox Notification Tokens
  description: Site inbox notification tokens are credentials used to authenticate bucket notifications for a Primary Site (self-managed or BYOS) to the Foxglove API.
paths:
  /site-inbox-notification-tokens:
    get:
      tags:
      - Site Inbox Notification Tokens
      summary: List inbox notification tokens
      security:
      - ApiKey:
        - sites.list
      parameters:
      - in: query
        name: siteId
        description: Restrict responses to site with this ID
        schema:
          type: string
        required: false
      responses:
        '200':
          description: List of inbox notification tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InboxNotificationToken'
      operationId: getSiteInboxNotificationTokens
      x-operation-id-source: derived
    post:
      tags:
      - Site Inbox Notification Tokens
      summary: Create a site inbox notification token
      description: 'Create a token that authenticates bucket notifications for a Primary Site in your org (self-managed or BYOS).


        See the Primary Site

        Installation

        documentation for more details.'
      security:
      - ApiKey:
        - sites.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                siteId:
                  type: string
                  description: Site associated with the newly created token
              required:
              - siteId
      responses:
        '200':
          description: The newly created inbox notification token
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/InboxNotificationToken'
                - type: object
                  properties:
                    token:
                      type: string
                      description: Generated token. This is only available on creation.
      operationId: postSiteInboxNotificationTokens
      x-operation-id-source: derived
  /site-inbox-notification-tokens/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Inbox notification token ID
    delete:
      tags:
      - Site Inbox Notification Tokens
      summary: Delete an inbox notification token
      security:
      - ApiKey:
        - sites.delete
      responses:
        '200':
          description: ID of the deleted token
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the deleted inbox notification token
                required:
                - id
      operationId: deleteSiteInboxNotificationTokensById
      x-operation-id-source: derived
components:
  schemas:
    InboxNotificationToken:
      type: object
      description: An inbox notification token authenticates bucket notifications for a Primary Site (self-managed or BYOS) to the Foxglove API.
      properties:
        id:
          type: string
        orgId:
          type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp of the inbox notification token's creation
        siteId:
          type: string
          description: ID of the associated Primary Site
      required:
      - id
      - orgId
      - createdAt
      - siteId
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
