openapi: 3.2.0
info:
  title: Foxglove Custom Properties API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Custom Properties
  description: 'Custom properties are typed metadata which you can assign to devices.


    For example, you can create a device custom property identified with a key

    `locationId` and a type of `string`. This enables you to assign a location

    to each of your devices, view that data in Foxglove, and filter devices by

    a location ID.'
paths:
  /custom-properties:
    get:
      tags:
      - Custom Properties
      summary: List custom properties
      security:
      - ApiKey:
        - properties.list
      parameters:
      - in: query
        name: resourceType
        description: Filter properties matching a resource type
        schema:
          type: string
          enum:
          - device
          - event
          - session
        required: false
      responses:
        '200':
          description: The custom properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomProperty'
      operationId: getCustomProperties
      x-operation-id-source: derived
    post:
      tags:
      - Custom Properties
      summary: Create a custom property
      security:
      - ApiKey:
        - properties.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomProperty'
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
      operationId: postCustomProperties
      x-operation-id-source: derived
  /custom-properties/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Custom Property ID
    get:
      tags:
      - Custom Properties
      summary: Get a custom property
      security:
      - ApiKey:
        - properties.list
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
      operationId: getCustomPropertiesById
      x-operation-id-source: derived
    patch:
      tags:
      - Custom Properties
      summary: Edit a custom property
      security:
      - ApiKey:
        - properties.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  description: Display label for user interfaces
                  type: string
                  minLength: 1
                  maxLength: 32
                values:
                  description: Moved to `enumValues`. Reorder or add to enum values. Must be a superset of existing values.
                  deprecated: true
                  type: array
                  items:
                    type: string
                  uniqueItems: true
                enumValues:
                  description: Reorder or add to enum values. Must be a superset of existing values.
                  type: array
                  items:
                    type: string
                  uniqueItems: true
              required: []
      responses:
        '200':
          description: The custom property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomProperty'
      operationId: patchCustomPropertiesById
      x-operation-id-source: derived
    delete:
      tags:
      - Custom Properties
      summary: Delete a custom property
      description: 'Deleting a device custom property removes all values associated with it.

        Event custom properties can only be deleted when they are not currently associated with any event values.'
      security:
      - ApiKey:
        - properties.delete
      responses:
        '200':
          description: ID of the deleted custom property
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                - id
      operationId: deleteCustomPropertiesById
      x-operation-id-source: derived
components:
  schemas:
    NewCustomProperty:
      type: object
      properties:
        key:
          description: 'An immutable identifier for this custom property; it cannot be edited once saved.


            This key is used to identify the custom property in queries; for example, when filtering

            your devices by a custom property ("partNumber:456").

            '
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[A-Za-z0-9_-]+$
        label:
          description: Display label for user interfaces. May be changed after saving.
          type: string
          minLength: 1
          maxLength: 32
        resourceType:
          description: Resource type to which this custom property may be assigned
          type: string
          enum:
          - device
          - event
          - session
        valueType:
          description: 'The type of the values associated with this custom property

            Number values will be treated as IEEE 754 64-bit floats.

            '
          type: string
          enum:
          - string
          - multiline-string
          - number
          - enum
          - boolean
          - multi-enum
        values:
          description: Moved to `enumValues`. Allowed string values; required if `valueType` is "enum"
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
        enumValues:
          description: Allowed string values; required if `valueType` is "enum"
          type: array
          items:
            type: string
          uniqueItems: true
      required:
      - key
      - label
      - resourceType
      - valueType
    CustomProperty:
      type: object
      allOf:
      - type: object
        properties:
          id:
            type: string
            description: ID of the custom property
        required:
        - id
        - hasAssociatedData
      - $ref: '#/components/schemas/NewCustomProperty'
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
