openapi: 3.2.0
info:
  title: Foxglove Site Tokens API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Site Tokens
  description: Site tokens are credentials a self-hosted Primary Site or Edge Site use to communicate with the Foxglove API.
paths:
  /site-tokens:
    get:
      tags:
      - Site Tokens
      summary: List site tokens
      security:
      - ApiKey:
        - siteTokens.list
      parameters:
      - in: query
        name: siteId
        description: Filter by site ID
        schema:
          type: string
        required: false
      responses:
        '200':
          description: List of site tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SiteToken'
      operationId: getSiteTokens
      x-operation-id-source: derived
    post:
      tags:
      - Site Tokens
      summary: Create a site token
      security:
      - ApiKey:
        - siteTokens.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                siteId:
                  type: string
                  description: Site associated with the newly created token
              required:
              - siteId
      responses:
        '200':
          description: A new site token
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SiteToken'
                - type: object
                  properties:
                    token:
                      type: string
                      description: Generated token. This is only available on creation.
      operationId: postSiteTokens
      x-operation-id-source: derived
  /site-tokens/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Site token ID
    delete:
      tags:
      - Site Tokens
      summary: Delete a site token
      security:
      - ApiKey:
        - siteTokens.delete
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccess'
      operationId: deleteSiteTokensById
      x-operation-id-source: derived
components:
  schemas:
    GenericSuccess:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required:
      - success
    SiteToken:
      type: object
      description: A SiteToken resource provides site controllers with authentication to the api.
      properties:
        id:
          type: string
          description: ID of the site token
        createdAt:
          type: string
          format: date-time
          description: Timestamp of the site token's creation
        siteId:
          type: string
          description: ID of the associated Primary or Edge Site
      required:
      - id
      - createdAt
      - siteId
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
