openapi: 3.2.0
info:
  title: Foxglove Lake files API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Lake files
  description: 'MCAP files stored in the lake bucket of a self-hosted Primary Site.

    You must have an Enterprise account to use lake file endpoints.'
paths:
  /lake-files:
    get:
      tags:
      - Lake files
      summary: List lake files
      description: 'This endpoint returns a list of MCAP files in the lake bucket for a given Primary Site.


        For each recording that has been imported, multiple files are created — one per topic.


        This endpoint is only supported for self-managed sites.


        A query must be limited to a specific device or recording using one of the following parameters:

        - deviceId

        - deviceName

        - recordingId

        - recordingKey


        If querying by a device (ID or name), you must also provide `start` and `end` parameters to limit the range of files included. Queries for a specific recording do not require `start` and `end`.


        The range expressed by `start` and `end` must not exceed 24h.'
      security:
      - ApiKey:
        - data.stream
      parameters:
      - in: query
        name: siteId
        schema:
          type: string
        description: The ID of a self-managed Primary Site for which the files have been imported
        required: true
      - in: query
        name: deviceId
        schema:
          type: string
          minLength: 1
        description: ID of the device associated with the imported files
        required: false
      - in: query
        name: deviceName
        schema:
          type: string
          minLength: 1
        description: Name of the device associated with the imported files
        required: false
      - in: query
        name: recordingId
        schema:
          type: string
          minLength: 1
        description: A recording ID for which the files have been imported
        required: false
      - in: query
        name: recordingKey
        schema:
          type: string
          minLength: 1
        description: A recording key for which the files have been imported
        required: false
      - in: query
        name: sessionId
        schema:
          type: string
          minLength: 1
        description: Filter to files for recordings in the session with this ID
        required: false
      - in: query
        name: sessionKey
        schema:
          type: string
          minLength: 1
        description: Filter to files for recordings in the session with this key
        required: false
      - in: query
        name: start
        schema:
          type: string
          format: date-time
        description: Inclusive start of an imported recording's time range. If start is provided, end must be too.
        required: false
      - in: query
        name: end
        schema:
          type: string
          format: date-time
        description: Inclusive end of an imported recording's time range. If end is provided, start must be too.
        required: false
      - in: query
        name: topic
        schema:
          type: string
        description: Include only imported files matching this topic name
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    path:
                      type: string
                      description: The full path of the file in the lake bucket
                    topics:
                      description: The topic names associated with this file
                      type: array
                      items:
                        type: string
                  required:
                  - path
                  - topics
      operationId: getLakeFiles
      x-operation-id-source: derived
components:
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
