openapi: 3.2.0
info:
  title: Foxglove Devices API
  version: v1
  x-logo:
    url: https://foxglove.dev/images/logo-icon-round.png
  description: '# Python client


    Foxglove provides a Python client library (`foxglove-client`) to more easily interact with the Foxglove API.'
servers:
- url: https://api.foxglove.dev/v1
  description: Production
security: []
tags:
- name: Devices
  description: 'Devices represent robots in your organization. It is common to have devices for both physical

    and virtual robots.


    Devices are referenced by other resources like recordings and events.


    A device may have Foxlet

    installed on it. In this case, you may configure the retention period for recordings on the

    device by setting its `retainRecordingsSeconds`.


    To help manage your devices, you may define custom properties and

    assign metadata to each device via its `properties`.'
paths:
  /devices:
    get:
      tags:
      - Devices
      security:
      - ApiKey:
        - devices.list
      summary: List devices
      description: 'Retrieve a list of devices.


        **Filtering by custom properties**


        Use the `query` parameter to filter devices on custom properties.

        Syntax:

        * `properties.key:value`: matches devices with a property that contains a key named `key` with a value of `value`; use double quotes if the value contains spaces or special characters

        * `properties.key:value1,value2`: matches devices with a property that contains a key named `key` and its value is either `value1` or `value2`

        * `properties.key:*`: matches devices with a property that contains a key named `key` and any value

        * `*:value`: matches devices with a property that contains a key with any name and a value of `value`

        * `foo`: matches devices with properties where any key or stringified value contains `foo`

        Multiple qualifiers can be used in the same query string; this will filter devices matching the intersection of the qualifiers (AND).'
      x-codeSamples:
      - lang: python
        label: Python
        source: 'from foxglove.client import Client


          token = "<YOUR API TOKEN HERE>"

          client = Client(token=token)


          client.get_devices()

          '
      parameters:
      - in: query
        name: projectId
        description: Filter devices by project
        schema:
          type: string
        required: false
      - in: query
        name: sortBy
        description: Field to sort items by ("id", "name", or a custom property key prefixed with `properties.`)
        schema:
          type: string
        required: false
      - in: query
        name: query
        description: Space-separated query string for device custom properties. Each custom property key must be valid and prefixed with "properties.". See above for syntax and examples.
        schema:
          type: string
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Device'
                  - $ref: '#/components/schemas/DeviceDetails'
                  - $ref: '#/components/schemas/DeviceRemoteAccessState'
      operationId: getDevices
      x-operation-id-source: derived
    post:
      tags:
      - Devices
      summary: Create a device
      security:
      - ApiKey:
        - devices.create
      x-codeSamples:
      - lang: python
        label: Python
        source: "from foxglove.client import Client\n\ntoken = \"<YOUR API TOKEN HERE>\"\nclient = Client(token=token)\n\nclient.create_device(\n    name=name,\n    project_id=\"<YOUR PROJECT ID HERE>\",\n)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/deviceName'
                properties:
                  $ref: '#/components/schemas/CustomPropertyValues'
                  description: 'A key-value map, where each key is one of your pre-defined device custom property keys.

                    Keys which are not recognized as custom properties will be ignored.

                    '
                  required: []
                projectId:
                  description: The project ID that the device belongs to. Required for multi-project orgs.
                  type: string
              required:
              - name
      responses:
        '200':
          description: The newly created device
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Device'
                - $ref: '#/components/schemas/DeviceDetails'
      operationId: postDevices
      x-operation-id-source: derived
  /actions/devices/{nameOrId}/update-property-time-interval:
    parameters:
    - in: path
      name: nameOrId
      schema:
        type: string
      required: true
      description: 'Device name or ID. Device names must be URI-encoded if they contain non-URI-safe

        characters. If a device is named with another device''s ID, the device with the matching

        name will be returned.

        '
    post:
      tags:
      - Devices
      summary: Update property time interval
      description: 'Specify a value that was set for a given time range, or specify no value was set for that range.

        Existing records overlapping that time range may be split, trimmed, or deleted to accommodate

        this assertion. This endpoint should only be used for updating past time intervals. To update the

        current value of a property use the update device

        endpoint.'
      security:
      - ApiKey:
        - devices.update
      x-projectIdOptional: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
                  description: 'The project ID of the device. Required for multi-project orgs.

                    '
                key:
                  type: string
                  description: 'The key of the property. Must be an existing device custom property

                    key for your organization.

                    '
                value:
                  description: 'The value of the property over the given time range. Omit to specify

                    no value was set for that range.

                    '
                  oneOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: array
                    items:
                      type: string
                    uniqueItems: true
                start:
                  type: string
                  format: date-time
                  description: Inclusive start of the property's effective time range. Must be in the past.
                end:
                  type: string
                  format: date-time
                  description: Exclusive end of the property's effective time range. Must be in the past.
              required:
              - key
              - start
              - end
      responses:
        '204':
          description: Success
      operationId: postActionsDevicesByNameOrIdUpdatePropertyTimeInterval
      x-operation-id-source: derived
  /devices/{nameOrId}:
    parameters:
    - in: path
      name: nameOrId
      schema:
        type: string
      required: true
      description: 'Device name or ID. Device names must be URI-encoded if they contain

        non-URI-safe characters. If a device is named with another device''s ID,

        the device with the matching name will be returned.

        '
    get:
      tags:
      - Devices
      summary: Get a device
      description: Get details on a specific device.
      security:
      - ApiKey:
        - devices.list
      x-projectIdOptional: true
      x-codeSamples:
      - lang: python
        label: Python
        source: "from foxglove.client import Client\n\ntoken = \"<YOUR API TOKEN HERE>\"\nclient = Client(token=token)\n\nclient.get_device(\n    device_id=device_id,\n)\n"
      parameters:
      - in: query
        name: projectId
        description: Filter devices by project
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Device'
                - $ref: '#/components/schemas/DeviceRemoteAccessState'
      operationId: getDevicesByNameOrId
      x-operation-id-source: derived
    delete:
      tags:
      - Devices
      summary: Delete a device
      description: 'Delete a device. Once a device is deleted, it will no longer show up in your list of devices.


        _Before deleting a device, you must delete all associated data._'
      security:
      - ApiKey:
        - devices.delete
      x-projectIdOptional: true
      x-codeSamples:
      - lang: python
        label: Python
        source: 'from foxglove.client import Client


          token = "<YOUR API TOKEN HERE>"

          client = Client(token=token)


          client.delete_device(device_id=device_id)

          '
      parameters:
      - in: query
        name: projectId
        description: Filter devices by project
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted device
                required:
                - id
      operationId: deleteDevicesByNameOrId
      x-operation-id-source: derived
    patch:
      tags:
      - Devices
      summary: Update a device
      security:
      - ApiKey:
        - devices.update
      x-projectIdOptional: true
      parameters:
      - in: query
        name: projectId
        description: Filter devices by project
        schema:
          type: string
        required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Device names must be unique within a project.
                retainRecordingsSeconds:
                  type: integer
                  minimum: 0
                  description: 'Optionally set a retention period for recordings created on a device running

                    Foxlet. If set to zero, recordings are retained indefinitely. This is only

                    relevant for devices that have Foxlet installed.

                    '
                properties:
                  description: 'A key-value map, where each key is one of your pre-defined device custom property keys.

                    Keys which are not recognized as custom properties will be ignored.

                    Keys which are not included in the request, but exist on the device, will be unchanged.

                    To unset a property, pass `null` as the value.

                    '
                  type: object
                  additionalProperties: true
                  required: []
                enabled:
                  description: 'Whether this device is enabled. Devices are enabled by default,

                    unless they are created with a device token with `preapproved` set to false.

                    Disabled devices show up in the device list, but you can''t upload recordings

                    for them. A device token linked to a disabled device does not grant access to the API.

                    '
                  type: boolean
                remoteAccessEnabled:
                  description: 'Whether remote access is enabled for this device. When disabled, the device

                    cannot establish new remote access sessions.

                    '
                  type: boolean
                autoDeleteAfterImport:
                  description: 'Whether recordings on a device running Foxlet are automatically deleted

                    once they have been successfully uploaded and accepted for import. This is

                    only relevant for devices that have Foxlet installed. Foxlet versions

                    older than 1.5.0 ignore this setting until upgraded.

                    '
                  type: boolean
      responses:
        '200':
          description: Update device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
      operationId: patchDevicesByNameOrId
      x-operation-id-source: derived
  /devices/{nameOrId}/property-time-intervals:
    parameters:
    - in: path
      name: nameOrId
      schema:
        type: string
      required: true
      description: 'Device name or ID. Device names must be URI-encoded if they contain non-URI-safe

        characters. If a device is named with another device''s ID, the device with the matching

        name will be returned.

        '
    get:
      tags:
      - Devices
      summary: List property time intervals
      description: 'Returns a list of values and the time intervals for which they were in effect for a device.


        Use the `query` parameter to filter property history on custom property key/value criteria.

        Syntax:

        * `key:value`: matches rows where the property key is `key` and the value equals `value`; use double quotes if the value contains spaces or special characters

        * `key:value1,value2`: matches rows where the property key is `key` and the value is either `value1` or `value2`

        * `key:*`: matches rows where the property key is `key` and any value

        * `*:value`: matches rows where any key has the value `value`

        * `foo`: matches rows where any key or stringified value contains `foo`

        Multiple qualifiers can be used in the same query string; this will filter rows matching the intersection of the qualifiers (AND).'
      security:
      - ApiKey:
        - devices.list
      x-projectIdOptional: true
      parameters:
      - in: query
        name: projectId
        description: The project ID that the device belongs to. Required for multi-project orgs.
        schema:
          type: string
        required: false
      - in: query
        name: query
        description: Space-separated query string for device property history. Each custom property key must be valid. See above for syntax and examples.
        schema:
          type: string
        required: false
      - in: query
        name: start
        description: Properties active on or after this time will be included.
        schema:
          type: string
          format: date-time
        required: false
      - in: query
        name: end
        description: Properties active before this time will be included.
        schema:
          type: string
          format: date-time
        required: false
      - in: query
        name: sortBy
        description: Field to sort items by ("id", "key", "start", "end")
        schema:
          type: string
          enum:
          - id
          - key
          - start
          - end
        required: false
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Property time intervals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceCustomPropertyTimeInterval'
      operationId: getDevicesByNameOrIdPropertyTimeIntervals
      x-operation-id-source: derived
  /devices/{nameOrId}/property-time-intervals/{id}:
    parameters:
    - in: path
      name: nameOrId
      schema:
        type: string
      required: true
      description: 'Device name or ID. Device names must be URI-encoded if they contain non-URI-safe

        characters. If a device is named with another device''s ID, the device with the matching

        name will be returned.

        '
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: 'Property Time Interval ID.

        '
    get:
      tags:
      - Devices
      summary: Get a device property time interval
      description: Returns a specific device property time interval for a device.
      security:
      - ApiKey:
        - devices.list
      x-projectIdOptional: true
      parameters:
      - in: query
        name: projectId
        description: The project ID that the device belongs to. Required for multi-project orgs.
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Property time interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCustomPropertyTimeInterval'
      operationId: getDevicesByNameOrIdPropertyTimeIntervalsById
      x-operation-id-source: derived
components:
  schemas:
    deviceName:
      type: string
      maxLength: 100
      description: The name of the device.
      pattern: ^[A-Za-z0-9_.-]+$
    DeviceDetails:
      type: object
      properties:
        orgId:
          type: string
        createdAt:
          type: string
          format: date
        updatedAt:
          type: string
          format: date-time
    DeviceRemoteAccessState:
      type: object
    Device:
      type: object
      properties:
        id:
          type: string
          description: Opaque identifier
        name:
          type: string
          description: Organization-chosen device name
        projectId:
          type: string
          description: The project ID that the device belongs to
        retainRecordingsSeconds:
          type: number
          description: 'The retention period for recordings created on this device. If set to

            zero, recordings are retained indefinitely. This is only relevant for

            devices that have Foxlet installed.

            '
        properties:
          $ref: '#/components/schemas/CustomPropertyValues'
          description: 'A key-value map of the custom properties associated with this device.

            '
        enabled:
          type: boolean
          description: 'Whether this device is enabled. Devices are enabled by default,

            unless they are created with a device token with `preapproved` set to false.

            Disabled devices show up in the device list, but you can''t upload recordings

            for them. A device token linked to a disabled device does not grant access to the API.

            '
        remoteAccessEnabled:
          type: boolean
          description: 'Whether remote access is enabled for this device. When disabled, the device

            cannot establish new remote access sessions.

            '
        autoDeleteAfterImport:
          type: boolean
          description: 'Whether recordings on this device are automatically deleted once they have

            been successfully uploaded and accepted for import. This is only relevant

            for devices that have Foxlet installed.

            '
      required:
      - id
      - name
      - projectId
      - enabled
      - remoteAccessEnabled
      - autoDeleteAfterImport
      - agentSupportsAutoDelete
    CustomPropertyValues:
      type: object
      additionalProperties:
        oneOf:
        - type: string
        - type: number
        - type: boolean
        - type: array
          items:
            type: string
          uniqueItems: true
    DeviceCustomPropertyTimeInterval:
      type: object
      properties:
        id:
          type: string
          description: ID of the property time interval.
        deviceId:
          type: string
          description: ID of the associated device.
        key:
          type: string
          description: Key of the property.
        value:
          description: Value of the property.
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items:
              type: string
            uniqueItems: true
        start:
          type: string
          format: date-time
          description: Inclusive start time this value was in effect.
        end:
          type: string
          format: date-time
          description: Exclusive end time this value was in effect. When absent the value is still in effect.
      required:
      - id
      - deviceId
      - key
      - value
      - start
  parameters:
    sortOrder:
      in: query
      name: sortOrder
      description: Sort order for the `sortBy` field
      schema:
        type: string
        enum:
        - asc
        - desc
    limit:
      in: query
      name: limit
      description: Maximum number of items to return
      schema:
        type: number
        minimum: 0
        maximum: 2000
        default: 2000
    offset:
      in: query
      name: offset
      description: Number of items to skip before returning the results
      schema:
        type: integer
        minimum: 0
        default: 0
  securitySchemes:
    Session:
      type: apiKey
      in: cookie
      name: fox.session
      description: User permissions when signed into the website
    ApiKey:
      type: http
      scheme: bearer
      description: API key authentication using HTTP Bearer auth
    SiteBucketNotificationBearerToken:
      type: http
      scheme: bearer
      description: Site bucket notification authentication using HTTP Bearer auth
x-tagGroups:
- name: Data Platform
  tags:
  - Coverage
  - Custom Properties
  - Device Tokens
  - Devices
  - Events
  - Event Types
  - Imports
  - Lake files
  - Projects
  - Recording Attachments
  - Recordings
  - Sessions
  - Site Tokens
  - Site Inbox Notification Tokens
  - Sites
  - Stream data
  - Topics
- name: Webhooks
  tags:
  - Webhook Payloads
- name: Visualization
  tags:
  - Extensions
  - Layouts
